Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

pre-commit
  aiobotocore/args.py
Due: library

meant the 4th
  CHANGES.rst
Due: changelog, docs

fix refreshable credentials injection (#1314)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/regions.py
Due: library, changelog, docs

patch `ResponseParser`
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/parsers.py
  tests/test_patches.py
Due: library, changelog, docs, tests

feat: allow botocore 1.37.2 support
  pyproject.toml
Due: configs

fix version to 2.21.1
  pyproject.toml
Due: configs

Update botocore to 1.37.3
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/parsers.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

add boto bump diff URL to template
  .github/pull_request_template.md
Due: none

more async methods for RpcV2CBORParser
  aiobotocore/parsers.py
  tests/test_patches.py
Due: library, tests

Patch `ResponseParser` (#1312)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/parsers.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Use SPDX license identifier for project metadata
  CHANGES.rst
  pyproject.toml
Due: configs, changelog, docs

Use SPDX license identifier for project metadata (#1325)
  CHANGES.rst
  pyproject.toml
Due: configs, changelog, docs

Update sphinx from 8.1.3 to 8.3.0
  docs/requirements.txt
Due: docs

Update sphinx from 8.1.3 to 8.3.0 (#1327)
  docs/requirements.txt
Due: docs

Use new classes to remove code duplication
  aiobotocore/endpoint.py
  aiobotocore/parsers.py
Due: library

Copy output protocol test from upstream botocore
  tests/botocore_tests/unit/protocols/legacy/output/ec2.json
  tests/botocore_tests/unit/protocols/legacy/output/json.json
  tests/botocore_tests/unit/protocols/legacy/output/query.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-json.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/ec2.json
  tests/botocore_tests/unit/protocols/output/json.json
  tests/botocore_tests/unit/protocols/output/json_1_0.json
  tests/botocore_tests/unit/protocols/output/query.json
  tests/botocore_tests/unit/protocols/output/rest-json.json
  tests/botocore_tests/unit/protocols/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/smithy-rpc-v2-cbor.json
  tests/botocore_tests/unit/protocols/protocol-tests-ignore-list.json
  tests/botocore_tests/unit/test_protocols.py
Due: tests

Removed unused test functions
  tests/botocore_tests/unit/test_protocols.py
Due: tests

removed unused import
  tests/botocore_tests/unit/test_protocols.py
Due: tests

Create common interface for aio response classes
  aiobotocore/endpoint.py
  aiobotocore/parsers.py
Due: library

Address code review comments
  aiobotocore/parsers.py
  aiobotocore/response.py
  tests/test_patches.py
Due: library, tests

Changelog entry
  CHANGES.rst
Due: changelog, docs

patch `ResponseParser` and remaining subclasses
  CHANGES.rst
  aiobotocore/parsers.py
Due: library, changelog, docs

Patch `ResponseParser` and remaining subclasses (#1329)
  CHANGES.rst
  aiobotocore/parsers.py
Due: library, changelog, docs

Prevent swallowing of test cases (closes #1316)
  tests/test_patches.py
Due: tests

Fix incorrect hash for `RequestSigner.get_auth`
  tests/test_patches.py
Due: tests

Parametrize `test_patches()`
  tests/test_patches.py
Due: tests

Prevent swallowing of test cases (#1330)
  tests/test_patches.py
Due: tests

Add zizmor pre-commit hook
  .pre-commit-config.yaml
Due: none

Avoid persisting credentials in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Due: none

Prevent code injection via template expansion in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Due: none

Prevent cache poisoning in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Due: none

Prevent cache poisoning in CI/CD GitHub workflow (#1343)
  .github/workflows/ci-cd.yml
Due: none

Avoid persisting credentials in CI/CD GitHub workflow (#1336)
  .github/workflows/ci-cd.yml
Due: none

Prevent code injection via template expansion in CI/CD GitHub workflow (#1339)
  .github/workflows/ci-cd.yml
Due: none

Set minimal permissions for CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Due: none

Fix code scanning alert - Workflow does not contain permissions (#1333)
  .github/workflows/ci-cd.yml
Due: none

Pin non-trusted actions to a hash in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Due: none

Pin non-trusted actions to a hash in CI/CD GitHub workflow (#1341)
  .github/workflows/ci-cd.yml
Due: none

Suppress zizmor false positive
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
