Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Update Botocore to 1.34.131 (#1122)
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
  requirements-dev.in
  setup.py
Due: library, changelog, docs

Update sphinx from 5.3.0 to 7.4.0
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.4.2
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.4.3
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.4.4
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.4.5
  docs/requirements.txt
Due: docs

add missing StreamingChecksumBody subclass
  aiobotocore/httpchecksum.py
Due: library

Update sphinx from 5.3.0 to 7.4.6
  docs/requirements.txt
Due: docs

add patch check
  tests/test_patches.py
Due: tests

isort
  tests/test_patches.py
Due: tests

add missing patch
  tests/test_patches.py
Due: tests

bump moto
  requirements-dev.in
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
  tests/test_basic_s3.py
Due: tests

bump
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

fixes #1125 due to missing aync override (#1126)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpchecksum.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Update sphinx from 5.3.0 to 7.4.7
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 8.0.0
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 8.0.2
  docs/requirements.txt
Due: docs

Add missing `retries/__init__.py`
  aiobotocore/retries/__init__.py
Due: library

Run CI for Python 3.13
  .github/workflows/python-package.yml
Due: none

Run CI for Python 3.13 (#1127)
  .github/workflows/python-package.yml
Due: none

Add missing `retries/__init__.py` (#1129)
  aiobotocore/retries/__init__.py
Due: library

leverage aiohttp internal handling of `chunked` argument
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

fix `moto` dev dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  requirements-dev.in
Due: library, changelog, docs

remove invalid Codecov argument `path_to_write_report` from GitHub action specification
  .github/workflows/python-package.yml
Due: none

replace deprecated aiohttp `session.get()` argument `verify_ssl` by `ssl`
  tests/moto_server.py
Due: tests

test `waiter.create_waiter_with_client()`
  tests/test_waiter.py
Due: tests

fix `waiter.create_waiter_with_client()`
  CHANGES.rst
  aiobotocore/waiter.py
Due: library, changelog, docs

bump `pytest-asyncio` dev dependency
  requirements-dev.in
Due: none

bump GitHub action `setup-python`
  .github/workflows/pre-commit.yml
  .github/workflows/python-package.yml
Due: none

test error conditions of `client.get_waiter()`
  tests/test_client.py
Due: tests

remove legacy `tests._helpers.py`
  tests/_helpers.py
  tests/boto_tests/helpers.py
  tests/conftest.py
  tests/python3.8/test_eventstreams.py
Due: tests

remove legacy `asynccontextmanager` import from `_helpers`
  aiobotocore/_helpers.py
  aiobotocore/utils.py
  tests/boto_tests/helpers.py
  tests/boto_tests/test_credentials.py
  tests/boto_tests/test_utils.py
Due: library, tests

test error condition of `client.get_paginator()`
  tests/test_client.py
Due: tests

test configuration defaults mode
  tests/test_configprovider.py
Due: tests

test configuration defaults mode auto
  tests/test_configprovider.py
Due: tests

replace Travis CI badge by GitHub CI badge in documentation
  docs/index.rst
Due: docs

remove Travis CI workaround from `Makefile`
  Makefile
Due: none

reapply moto mark to `test_get_credentials`
  tests/boto_tests/test_credentials.py
Due: tests

test invalid `endpoint_url`
  tests/test_endpoint.py
Due: tests

fix coverage of invalid `endpoint_url` test
  tests/test_endpoint.py
Due: tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
