Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/unit/conftest.py
  tests/botocore_tests/unit/login/login-provider-test-cases.json
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Run CI with `awscrt`
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  pyproject.toml
  uv.lock
Due: configs

Bump `botocore` dependency specification (#1436)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/unit/conftest.py
  tests/botocore_tests/unit/login/login-provider-test-cases.json
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

add raising mechanism + test
  aiobotocore/httpsession.py
  tests/botocore_tests/unit/test_session.py
Due: library, tests

simplify aexiting behaviour
  aiobotocore/httpsession.py
  tests/botocore_tests/unit/test_session.py
Due: library, tests

fix null _sessions
  aiobotocore/httpsession.py
Due: library

bump major
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

breaking change precision on CHANGES.rst
  CHANGES.rst
Due: changelog, docs

refacto test outside tests/botocore_tests
  tests/botocore_tests/unit/test_session.py
  tests/test_httpsession.py
Due: tests

add extra kwargs to session.create_client
  tests/test_httpsession.py
Due: tests

Disallow creating new sessions if client exits context (#1402)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  tests/test_httpsession.py
Due: library, changelog, docs, tests

Remove `awscli` packaging extra
  .github/pull_request_template.md
  CHANGES.rst
  README.rst
  docs/index.rst
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, changelog, docs, tests

Remove `awscli` packaging extra (#1435)
  .github/pull_request_template.md
  CHANGES.rst
  README.rst
  docs/index.rst
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, changelog, docs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies
  pyproject.toml
  uv.lock
Due: configs

Bump moto dev dependency
  pyproject.toml
  tests/test_sns.py
  uv.lock
Due: configs, tests

Relax `wrapt` dependency
  pyproject.toml
  uv.lock
Due: configs

Bump dev dependencies (#1438)
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_sns.py
  uv.lock
Due: configs, tests

Relax `wrapt` dependency (#1439)
  pyproject.toml
  uv.lock
Due: configs

Remove `boto3` packaging extra
  .github/pull_request_template.md
  CHANGES.rst
  README.rst
  docs/index.rst
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, changelog, docs, tests

Increase Dependabot cooldown to address zizmor findings
  .github/dependabot.yml
Due: none

Increase Dependabot cooldown to address zizmor findings (#1443)
  .github/dependabot.yml
Due: none

Relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Bump docs dependency
  docs/requirements.txt
Due: docs

Bump Read the Docs environment
  .readthedocs.yml
Due: configs

Relax `botocore` dependency specification (#1445)
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Bump sphinx docs dependency and Read the Docs environment (#1446)
  .readthedocs.yml
  docs/requirements.txt
Due: configs, docs

Add missing sponsorship targets to the funding config
  .github/FUNDING.yml
Due: none

Link Tidelift
  .github/FUNDING.yml
Due: none

Link OC
  .github/FUNDING.yml
Due: none

Hide Jakob for now
  .github/FUNDING.yml
Due: none

Add missing sponsorship targets to the funding config (#1447)
  .github/FUNDING.yml
Due: none

Update sphinx from 9.0.1 to 9.0.2
  docs/requirements.txt
Due: docs

Update sphinx from 9.0.1 to 9.0.3
  docs/requirements.txt
Due: docs

Update sphinx from 9.0.1 to 9.0.4
  docs/requirements.txt
Due: docs

Remove `boto3` packaging extra (#1440)
  .github/pull_request_template.md
  CHANGES.rst
  README.rst
  docs/index.rst
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, changelog, docs, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
