Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

Fix .gitignore first line
  .gitignore
Due: configs

Reduce codestyle changes noise in git blame
  .git-blame-ignore-revs
Due: configs

Drop support for Python 3.6
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  Pipfile
  README.rst
  setup.py
Due: docs

Ignore flake8 in python 3.7 CI workflow
  .github/workflows/python-package.yml
Due: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: docs

bump botocore and extra requires
  setup.py
Due: none

Minor codestyle changes
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/retries/bucket.py
  aiobotocore/retries/standard.py
  aiobotocore/waiter.py
Due: library

Add new ec2_credential_refresh_window to create_credential_resolver
  aiobotocore/credentials.py
Due: library

Add _register_eventbridge_events to client
  aiobotocore/client.py
Due: library

Changes in utils file
  aiobotocore/utils.py
Due: library

Add release notes to changes.rst and bump version
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Update hashes
  tests/test_patches.py
Due: tests

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

bump
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/httpsession.py
  aiobotocore/paginate.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/standard.py
  aiobotocore/retryhandler.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
  setup.py
Due: library, changelog, docs

fix patches
  tests/test_patches.py
Due: tests

fix tests
  Pipfile
  tests/boto_tests/test_credentials.py
  tests/mock_server.py
Due: tests

bump to 1.27.59 (#963)
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/httpsession.py
  aiobotocore/paginate.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/standard.py
  aiobotocore/retryhandler.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
  setup.py
  tests/boto_tests/test_credentials.py
  tests/mock_server.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Add pre-commit to the CI
  .github/workflows/codeql-analysis.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
Due: docs

Remove the list
  aiobotocore/config.py
Due: library

Remove the list (#969)
  aiobotocore/config.py
Due: library

Add pre-commit to the CI (#967)
  .github/workflows/codeql-analysis.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
Due: docs

Set explicit `python-version` in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Add `on.push` to pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Fix pre-commit GitHub Actions workflow (#973)
  .github/workflows/pre-commit.yml
Due: none

Do not run `flake` target in CI as part of unit tests
  .github/workflows/python-package.yml
Due: none

Use `find`'s `-delete` option
  Makefile
Due: none

Use poetry to manage the project
  .github/workflows/python-package.yml
  .pyup.yml
  CONTRIBUTING.rst
  Makefile
  Pipfile
  README.rst
  poetry.lock
  pyproject.toml
  setup.py
Due: configs, docs

Remove test for botocore, boto3, and awscli version compatibilities
  tests/test_version.py
Due: tests

bump to 1.27.92
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/session.py
  aiobotocore/signers.py
Due: library

bump to 1.27.92
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

Bump to Botocore 1.27.60
  CHANGES.rst
  setup.py
Due: changelog, docs

Fix some tests
  CHANGES.rst
  aiobotocore/__init__.py
  tests/test_patches.py
Due: library, changelog, docs, tests

fixup! Use poetry to manage the project
  .github/workflows/python-package.yml
Due: none

Adds support for checksums in streamed request trailers
  aiobotocore/client.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, tests

tweaks
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
  tests/test_basic_s3.py
Due: library, tests

remove old cmt
  tests/mock_server.py
Due: tests

black
  tests/mock_server.py
  tests/moto_server.py
Due: tests

bump
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs
