Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

tighten xfail constraint
  tests/test_lambda.py
Due: tests

these shouldn't count since they're platform specific
  tests/test_lambda.py
Due: tests

don't need this anymore, yay
  .github/workflows/ci-cd.yml
Due: none

graduate `ubuntu-24.04-arm` runners, except for Python 3.8
  .github/workflows/ci-cd.yml
Due: none

Graduate `ubuntu-24.04-arm` runners, except for Python 3.8 (#1303)
  .github/workflows/ci-cd.yml
Due: none

revert as master will no longer run under 3.8 on arm
  .github/workflows/ci-cd.yml
  tests/test_lambda.py
Due: tests

remove param
  tests/test_lambda.py
Due: tests

swap to dev version
  CHANGES.rst
  aiobotocore/__init__.py
  tests/test_version.py
Due: library, changelog, docs, tests

fix
  CHANGES.rst
Due: changelog, docs

update ci-cd to run on dev version tags as well
  .github/workflows/ci-cd.yml
Due: none

upstream header fixes (#1301)
  .github/workflows/ci-cd.yml
  CHANGES.rst
  Makefile
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: library, configs, changelog, docs, tests

restore alignment with upstream
  aiobotocore/args.py
  aiobotocore/credentials.py
Due: library

test for patch of `Session.set_credentials()`
  tests/test_patches.py
Due: tests

make `AioDeferredRefreshableCredentials` subclass of `DeferredRefreshableCredentials`
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  tests/test_patches.py
Due: library, changelog, docs, tests

make `AioSSOCredentialFetcher` subclass of `SSOCredentialFetcher`
  CHANGES.rst
  aiobotocore/credentials.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Align with upstream (#1308)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/credentials.py
  tests/test_patches.py
Due: library, changelog, docs, tests

relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/session.py
  pyproject.toml
  tests/boto_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

adopt upstream unit tests `session.TestSessionPartitionFiles`, `.TestGetServiceModel`, `.TestCreateClient`, and `.TestClientMonitoring`
  tests/boto_tests/__init__.py
  tests/boto_tests/unit/cfg/foo_config
  tests/boto_tests/unit/test_session.py
Due: tests

Adopt upstream unit tests `session.TestCreateClient` (#1309)
  tests/boto_tests/__init__.py
  tests/boto_tests/unit/cfg/foo_config
  tests/boto_tests/unit/test_session.py
Due: tests

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/session.py
  pyproject.toml
  tests/boto_tests/__init__.py
  tests/boto_tests/unit/test_credentials.py
  tests/boto_tests/unit/test_session.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification (#1307)
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/session.py
  pyproject.toml
  tests/boto_tests/__init__.py
  tests/boto_tests/unit/test_credentials.py
  tests/boto_tests/unit/test_session.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

remove commented out code
  tests/boto_tests/unit/test_session.py
Due: tests

rename `boto_tests` to `botocore_tests`
  tests/botocore_tests/__init__.py
  tests/botocore_tests/helpers.py
  tests/botocore_tests/unit/__init__.py
  tests/botocore_tests/unit/cfg/foo_config
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/botocore_tests/unit/test_handlers.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_utils.py
  tests/python3.8/botocore_tests/__init__.py
  tests/python3.8/botocore_tests/unit/__init__.py
  tests/python3.8/botocore_tests/unit/test_credentials.py
  tests/python3.8/botocore_tests/unit/test_signers.py
  tests/python3.8/botocore_tests/unit/test_tokens.py
  tests/python3.8/botocore_tests/unit/test_utils.py
Due: tests

Reorganize botocore tests (#1311)
  tests/botocore_tests/__init__.py
  tests/botocore_tests/helpers.py
  tests/botocore_tests/unit/__init__.py
  tests/botocore_tests/unit/cfg/foo_config
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/botocore_tests/unit/test_handlers.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_utils.py
  tests/python3.8/botocore_tests/__init__.py
  tests/python3.8/botocore_tests/unit/__init__.py
  tests/python3.8/botocore_tests/unit/test_credentials.py
  tests/python3.8/botocore_tests/unit/test_signers.py
  tests/python3.8/botocore_tests/unit/test_tokens.py
  tests/python3.8/botocore_tests/unit/test_utils.py
Due: tests

patch `ResponseParser`
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/parsers.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Update sphinx from 8.1.3 to 8.3.0
  docs/requirements.txt
Due: docs

make no-htttpx a separate matrix entry
  .github/workflows/ci-cd.yml
Due: none

uh, did I break CI? let's try a simpler yaml
  .github/workflows/ci-cd.yml
Due: none

add it to the name so it's picked up as a separate run
  .github/workflows/ci-cd.yml
Due: none

maybe now?
  .github/workflows/ci-cd.yml
Due: none

idk this is magic
  .github/workflows/ci-cd.yml
Due: none

was it the name that was broken? idk if there's error messages anywhere, sigh
  .github/workflows/ci-cd.yml
Due: none

asdf
  .github/workflows/ci-cd.yml
Due: none

.
  .github/workflows/ci-cd.yml
Due: none

fix for account-id
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/regions.py
Due: library

bump
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

pre-commit
  aiobotocore/regions.py
Due: library

fix tests
  aiobotocore/args.py
Due: library
