Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Adds support for checksums in streamed request trailers (#962)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

fix retries
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
Due: library, changelog, docs

black
  aiobotocore/utils.py
Due: library

isort
  aiobotocore/utils.py
Due: library

fix tests
  tests/boto_tests/test_utils.py
  tests/python3.8/boto_tests/test_utils.py
Due: tests

flake
  tests/boto_tests/test_utils.py
Due: tests

fix retries after exception normalization (#989)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
  tests/boto_tests/test_utils.py
  tests/python3.8/boto_tests/test_utils.py
Due: library, changelog, docs, tests

Update isort to fix Poetry
  .pre-commit-config.yaml
Due: none

update documentation for boto3
  README.rst
Due: docs

fix typos in contributing documentation
  CONTRIBUTING.rst
Due: docs

fix rst lint. update contrib docs
  CONTRIBUTING.rst
  README.rst
Due: docs

Bbstilson/update documentation for boto3 (#998)
  CONTRIBUTING.rst
  README.rst
Due: docs

bump to 1.29.76
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  setup.py
  tests/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/python3.8/boto_tests/test_tokens.py
  tests/test_mturk.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump date
  CHANGES.rst
Due: changelog, docs

bump botocore to 1.29.76 (#999)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  setup.py
  tests/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/python3.8/boto_tests/test_tokens.py
  tests/test_mturk.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Drop the dot https://twitter.com/pytestdotorg/status/753767547866972160
  CONTRIBUTING.rst
  README.rst
Due: docs

Add support for Python 3.11
  .github/workflows/pre-commit.yml
  .github/workflows/python-package.yml
  setup.py
Due: none

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

bypass await for moto
  aiobotocore/endpoint.py
Due: library

add tests for moto integration
  tests/test_response.py
Due: tests

update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

change order of tests
  tests/test_response.py
Due: tests

Add s3fs to dev env for tests
  Pipfile
Due: none

Fix to continue using raw_headers
  aiobotocore/endpoint.py
Due: library

Remove s3fs dependency for testing
  Pipfile
  tests/conftest.py
  tests/test_response.py
Due: tests

Added one more test for raw_headers fail
  tests/test_response.py
Due: tests

Support moto by allowing non-awaitable content and tests
  aiobotocore/endpoint.py
  tests/test_response.py
Due: library, tests

Version change in CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Clean up using helper method
  aiobotocore/endpoint.py
  tests/test_response.py
Due: library, tests

Enter client CM in AioSSOTokenProvider
  aiobotocore/tokens.py
Due: library

add return to waiter.wait, upcoming uplevel change from https://github.com/boto/botocore/issues/2913
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/waiter.py
Due: library, changelog, docs

bump
  Pipfile
Due: none

bump botocore to 1.29.161
  .github/workflows/python-package.yml
  .gitignore
  CHANGES.rst
  CONTRIBUTING.rst
  Pipfile
  Pipfile.lock
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/signers.py
  setup.py
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

attempt to fix tests
  .pre-commit-config.yaml
Due: none

fix black
  aiobotocore/client.py
Due: library

can't check this in
  .gitignore
  Pipfile.lock
Due: configs

revert
  CONTRIBUTING.rst
Due: docs

try to fix 3.11 tests
  Pipfile
Due: none

rename
  .github/workflows/codeql.yml
Due: none

bump botocore to 1.29.161 (#1019)
  .github/workflows/codeql.yml
  .github/workflows/python-package.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGES.rst
  CONTRIBUTING.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/signers.py
  setup.py
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
