Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

Bump `botocore` dependency specification (#1391)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  aiobotocore/discovery.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_signers.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies
  uv.lock
Due: none

Update release date
  CHANGES.rst
Due: changelog, docs

Bump GitHub action to address https://github.com/aio-libs/aiobotocore/security/code-scanning/9
  .github/workflows/ci-cd.yml
Due: none

Code scanning alert, dev deps and release date (#1404)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  CHANGES.rst
  uv.lock
Due: changelog, docs

simplify aexiting behaviour
  aiobotocore/httpsession.py
  tests/botocore_tests/unit/test_session.py
Due: library, tests

Fix compatibility with botocore v1.40.19+
  aiobotocore/signers.py
Due: library

Fixed test failures on Python 3.9 and 3.10
  tests/botocore_tests/unit/test_tokens.py
  tests/test_response.py
Due: tests

Drop anyio from run-time dependencies
  pyproject.toml
  uv.lock
Due: configs

Changed the version number to match the changelog
  aiobotocore/__init__.py
Due: library

Switched async test runner from pytest-asyncio to AnyIO
  CHANGES.rst
  pyproject.toml
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/botocore_tests/functional/test_useragent.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/botocore_tests/unit/test_handlers.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_protocols.py
  tests/botocore_tests/unit/test_response.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_tokens.py
  tests/botocore_tests/unit/test_utils.py
  tests/conftest.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_batch.py
  tests/test_client.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_dynamodb.py
  tests/test_ec2.py
  tests/test_endpoint.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_monitor.py
  tests/test_mturk.py
  tests/test_plugin_context.py
  tests/test_response.py
  tests/test_session.py
  tests/test_sns.py
  tests/test_sqs.py
  tests/test_stubber.py
  tests/test_waiter.py
  uv.lock
Due: configs, changelog, docs, tests

Fixed linting error
  tests/botocore_tests/unit/test_tokens.py
Due: tests

Eliminated the anyio pytest marker from the test suite
  pyproject.toml
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/botocore_tests/functional/test_useragent.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/botocore_tests/unit/test_handlers.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_protocols.py
  tests/botocore_tests/unit/test_response.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_tokens.py
  tests/botocore_tests/unit/test_utils.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_batch.py
  tests/test_client.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_dynamodb.py
  tests/test_ec2.py
  tests/test_endpoint.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_monitor.py
  tests/test_mturk.py
  tests/test_plugin_context.py
  tests/test_response.py
  tests/test_session.py
  tests/test_sns.py
  tests/test_sqs.py
  tests/test_stubber.py
  tests/test_waiter.py
  uv.lock
Due: configs, tests

Bump `botocore` dependency specification (#1391)
  CHANGES.rst
  aiobotocore/credentials.py
  aiobotocore/discovery.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_signers.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Code scanning alert, dev deps and release date (#1404)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  uv.lock
Due: none

Added the version again
  aiobotocore/__init__.py
Due: library

Updated project metadata to use SPDX license strings
  pyproject.toml
Due: configs

Fixed the development status classifier
  pyproject.toml
Due: configs

fix null _sessions
  aiobotocore/httpsession.py
Due: library

bump patch
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  aiobotocore/signers.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

add raising mechanism + test
  aiobotocore/httpsession.py
  tests/botocore_tests/unit/test_session.py
Due: library, tests

update CHANGES.rst
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Reverted the development status classifier
  pyproject.toml
Due: configs

Updated project metadata to use SPDX license strings (#1410)
  pyproject.toml
Due: configs

Bump `botocore` dependency specification
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Bump `botocore` dependency specification
  aiobotocore/credentials.py
  aiobotocore/session.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Bump `botocore` dependency specification
  aiobotocore/credentials.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Switched AnyIO to use the latest release
  pyproject.toml
  uv.lock
Due: configs

Bump `botocore` dependency specification
  aiobotocore/credentials.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/test_credentials.py
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Bump `botocore` dependency specification
  aiobotocore/credentials.py
  pyproject.toml
  tests/botocore_tests/functional/test_credentials.py
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, tests
