Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

fix use of proxies #1070
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

extract session creation into `AIOHTTPSession._get_session()`
  aiobotocore/httpsession.py
Due: library

extract `chunked` detection into `AIOHTTPSession._chunked()`
  aiobotocore/httpsession.py
Due: library

use `contextlib.AsyncExitStack` to simplify proxy session handling in `AIOHTTPSession`
  aiobotocore/httpsession.py
Due: library

Fix use of HTTPS proxies #1070 (#1077)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

address breaking change introduced in `aiohttp==3.9.2` #882
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  setup.py
Due: library, changelog, docs

leverage aiohttp internal handling of `chunked` argument
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

small fixes to coverage, type hints, documentation, and QoL for Makefile
  CONTRIBUTING.rst
  Makefile
  README.rst
  pyproject.toml
  tests/boto_tests/test_utils.py
Due: configs, docs, tests

expose http_session_cls in AioConfig
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/config.py
  tests/test_config.py
Due: library, changelog, docs, tests

small fixes to coverage, type hints, documentation, and QoL for Makefile (#1101)
  CONTRIBUTING.rst
  Makefile
  README.rst
  pyproject.toml
  tests/boto_tests/test_utils.py
Due: configs, docs, tests

relax botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

create and use DEFAULT_HTTP_SESSION_CLS
  aiobotocore/args.py
  aiobotocore/config.py
  aiobotocore/endpoint.py
Due: library

bump version
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

expose http_session_cls in AioConfig (#1102)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/config.py
  aiobotocore/endpoint.py
  tests/test_config.py
Due: library, changelog, docs, tests

update publish date
  CHANGES.rst
Due: changelog, docs

Support up-to-date `botocore` (#1100)
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

Update sphinx from 5.3.0 to 7.3.1
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.3.3
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.3.5
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.3.6
  docs/requirements.txt
Due: docs

Update sphinx from 5.3.0 to 7.3.7
  docs/requirements.txt
Due: docs

bump botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/signers.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump botocore dependency specification
  requirements-dev.in
  setup.py
Due: none

Support up-to-date `botocore` (#1115)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/signers.py
  requirements-dev.in
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Update test_version.py
  tests/test_version.py
Due: tests

Address breaking change introduced in `aiohttp==3.9.2` (#1081)
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  setup.py
  tests/test_version.py
Due: library, changelog, docs, tests

Update README.rst - Add monthly downloads badge
  README.rst
Due: docs

Update README.rst - Add monthly downloads badge (#1118)
  README.rst
Due: docs

update build badge
  README.rst
Due: docs

Update README.rst
  README.rst
Due: docs

Fix detected blocking call inside the event loop
  aiobotocore/session.py
Due: library

Update Botocore to 1.34.131
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

code review changes
  setup.py
Due: none

bump docker
  requirements-dev.in
Due: none

bump
  CHANGES.rst
Due: changelog, docs

try codecov-action 4.5.0
  .github/workflows/python-package.yml
Due: none
