Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

remove CodeQL workflow
  .github/workflows/codeql.yml
Due: none

relax botocore dependency specification
  .pre-commit-config.yaml
  CHANGES.rst
  Makefile
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/discovery.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  aiobotocore/regions.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/bucket.py
  aiobotocore/retries/standard.py
  aiobotocore/retryhandler.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/stub.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
  examples/sqs_queue_consumer.py
  examples/sqs_queue_producer.py
  pyproject.toml
  setup.cfg
  setup.py
  tests/boto_tests/test_credentials.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_config.py
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

relax botocore dependency specification (#1131)
  .pre-commit-config.yaml
  CHANGES.rst
  Makefile
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/discovery.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  aiobotocore/regions.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/bucket.py
  aiobotocore/retries/standard.py
  aiobotocore/retryhandler.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/stub.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
  examples/sqs_queue_consumer.py
  examples/sqs_queue_producer.py
  pyproject.toml
  setup.cfg
  setup.py
  tests/boto_tests/test_credentials.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_config.py
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

Create stale.yml
  .github/workflows/stale.yml
Due: none

reformat `stale.yml`
  .github/workflows/stale.yml
Due: none

support manually running `stale` GitHub action
  .github/workflows/stale.yml
Due: none

fix `stale` GitHub action inputs
  .github/workflows/stale.yml
Due: none

remove legacy `docs/make.bat`
  docs/make.bat
Due: docs

bump `sphinx` docs dependency
  .readthedocs.yml
  docs/conf.py
  docs/requirements.txt
Due: configs, docs

Update sphinx from 7.4.7 to 8.0.2
  docs/requirements.txt
Due: docs

switch to PyPI trusted publishing (#1116)
  .github/workflows/python-package.yml
Due: none

increase number of operations performed by `stale` GitHub action
  .github/workflows/stale.yml
Due: none

remove legacy Google Groups mailing list from `README.rst`
  README.rst
Due: docs

rename CI/CD action to conform to aio-libs standard
  .github/workflows/ci-cd.yml
  README.rst
  docs/index.rst
Due: docs

add PEP 517/518 compatible `[build-system]` table to `pyproject.toml`
  pyproject.toml
Due: configs

remove `MANIFEST.in`
  MANIFEST.in
Due: none

remove arguments `include_package_data` and `packages` from call to `setuptools.setup()`
  setup.py
Due: none

add PEP 621 compatible `[project]` table to `pyproject.toml`
  CONTRIBUTING.rst
  pyproject.toml
  requirements-dev.in
  setup.py
  tests/test_patches.py
  tests/test_version.py
Due: configs, docs, tests

leverage `importlib.metadata` in `docs/conf.py` (#1161)
  .readthedocs.yml
  docs/conf.py
Due: configs, docs

link to `https://aiobotocore.aio-libs.org` for documentation
  pyproject.toml
Due: configs

set `setuptools` lower bound to ensure consistent builds
  pyproject.toml
Due: configs

modernize CI/CD workflow (#1164)
  .github/workflows/ci-cd.yml
Due: none

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

add yamllint pre-commit hook (#1168)
  .codecov.yml
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .yamllint
Due: configs

add badge for `pre-commit.ci` (#1175)
  README.rst
  docs/index.rst
Due: docs

bump botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  pyproject.toml
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

ensure `aiobotocore.__version__` is in canonical form (#1177)
  tests/test_version.py
Due: tests

add `check-jsonschema` pre-commit hook (#1172)
  .pre-commit-config.yaml
Due: none

remove `setuptools` dev dependency
  requirements-dev.in
Due: none

remove empty `setup.py`
  setup.py
Due: none

remove legacy `make checkrst`
  Makefile
  requirements-dev.in
Due: none

show diff on pre-commit failure
  Makefile
Due: none

set `timeout-minutes` property to 5 for all GitHub Actions workflow jobs (#1183)
  .github/workflows/ci-cd.yml
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
Due: none

check for `timeout-minutes` property in all GitHub Actions workflow jobs via pre-commit (#1183)
  .pre-commit-config.yaml
Due: none

bump sphinx docs dependency
  docs/requirements.txt
Due: docs

replace legacy repository URL
  docs/examples.rst
Due: docs

replace single backticks by double backticks in docs
  CONTRIBUTING.rst
  README.rst
  docs/examples/dynamo_db/insertions.rst
  docs/examples/dynamo_db/tables.rst
Due: docs

leverage Sphinx file role in docs
  CONTRIBUTING.rst
Due: docs

set `default_role = 'any'` in Sphinx configuration
  docs/conf.py
Due: docs

run pre-commit hooks across CI/CD matrix
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
