Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Disable show_full_output on review workflow
  .github/workflows/claude.yml
Due: none

Add usage summary to both workflow job summaries
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Extract usage summary to shared .github/usage-summary.py
  .github/usage-summary.py
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Fix ruff format on usage-summary.py
  .github/usage-summary.py
Due: none

Remove show_full_output from botocore-sync workflow
  .github/workflows/botocore-sync.yml
Due: none

Only auto-review on PR open, not every push (#1505)
  .github/usage-summary.py
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Fix usage-summary.py: execution_file is a JSON array
  .github/usage-summary.py
Due: none

Fix `test_unicode_key_put_list()`
  tests/test_basic_s3.py
Due: tests

Base `mocking_test` pytest fixture onto `localonly` marker
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

Fix mocking in `test_presign_sigv4()`
  tests/test_basic_s3.py
Due: tests

Remove unnecessary `localonly` markers
  tests/test_basic_s3.py
Due: tests

Exclude remaining unit tests marked `localonly` from coverage
  pyproject.toml
Due: configs

Clean up `localonly` tests (#1496)
  pyproject.toml
  tests/conftest.py
  tests/test_basic_s3.py
Due: configs, tests

Remove stale dependency specification validation from `test_release_versions()`
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, tests

Replace parallel plugin with sequential /review-pr command
  .claude/commands/review-pr.md
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Fix usage summary, replace parallel plugin with sequential review (#1507)
  .claude/commands/review-pr.md
  .github/claude-review-prompt.md
  .github/usage-summary.py
  .github/workflows/claude.yml
Due: none

Add continue-on-error to usage summary step
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Add continue-on-error to usage summary step (#1508)
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Leverage `Path.read_text()` in `test_release_versions()`
  tests/test_version.py
Due: tests

Enable commit signing for Claude workflows
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Enable commit signing for Claude workflows (#1511)
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Remove stale `tempdir` fixture
  tests/conftest.py
Due: tests

Remove stale `debug` fixture
  tests/conftest.py
Due: tests

Exclude fixtures and helpers used only by `localonly` tests from coverage
  tests/conftest.py
Due: tests

Fix typo
  tests/conftest.py
Due: tests

Remove support for `PYCHARM_HOSTED` env variable from `conftest.py`
  tests/conftest.py
Due: tests

Fix `assert_num_uploads_found()` in `coverage.py`
  tests/conftest.py
Due: tests

Exclude rarely hit statement from coverage
  tests/conftest.py
Due: tests

Use SSH signing key for Claude commits
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Allow claude[bot] to trigger review workflow
  .github/workflows/claude.yml
Due: none

Allow claude[bot] to trigger review workflow (#1516)
  .github/workflows/claude.yml
Due: none

Force Claude to use GitHub API for commits (signed)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
Due: none

Re-enable show_full_output for debugging
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Add PreToolUse hook to block git commit, force MCP commits
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Force GitHub API commits for verified signatures (#1518)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Cache botocore repo, use git diff instead of pip download
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

Add git operation hints to avoid pitfalls
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
Due: none

Address other bot review comments, fix relax/bump criteria
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
Due: none

Increase botocore sync max-turns from 50 to 100
  .github/workflows/botocore-sync.yml
Due: none

Pin actions/cache to SHA
  .github/workflows/botocore-sync.yml
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
