Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

fix: fall back to sync subprocess for credential_process when loop lacks subprocess transports
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
Due: library, changelog, docs, tests

ci: smoke-test built wheel and sdist after build (closes #1169)
  .github/workflows/ci-cd.yml
Due: none

fix: credential_process on Windows + Selector event loop (closes #1415) (#1588)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
Due: library, changelog, docs, tests

ci: add sphinx-lint pre-commit hook (closes #1560)
  .pre-commit-config.yaml
Due: none

docs: unify local + RTD docs build via uv (closes #1166)
  .readthedocs.yml
  Makefile
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: configs, docs

feat: AI-drafted release flow (closes #1167)
  .github/draft-release-prompt.md
  .github/pull_request_template.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/draft-release.yml
  CLAUDE.md
  CONTRIBUTING.rst
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: docs

chore(release): consolidate unreleased 3.6.1/3.7.0/3.7.1 into 3.7.0
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

fix(draft-release): gate dispatch on actor role + sharpen bump rule
  .github/workflows/draft-release.yml
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

fix(docs): drop htmlzip from RTD build under uv
  .readthedocs.yml
Due: configs

fix(ci): disable uv cache in dist smoke-test job
  .github/workflows/ci-cd.yml
Due: none

chore(release): consolidate unreleased 3.6.1/3.7.0/3.7.1 into 3.7.0 (#1593)
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

fix(docs): copy only the epub file to RTD output dir
  .readthedocs.yml
Due: configs

fix(release): address claude review on #1592
  .github/workflows/auto-release-on-merge.yml
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

fix(release): revert to git tag + git push, document signing limitation
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(release): use softprops/action-gh-release for signed tag
  .github/workflows/auto-release-on-merge.yml
Due: none

refactor: extract reusable-publish.yml; rename bump-version -> update-botocore-bounds
  .github/botocore-sync-prompt.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/botocore-sync.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-publish.yml
  CLAUDE.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
  plugins/aiobotocore-bot/skills/update-botocore-bounds/SKILL.md
Due: docs

refactor: centralize CHANGES.rst parsing in scripts/changelog.py
  .github/workflows/auto-release-on-merge.yml
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  pyproject.toml
  scripts/__init__.py
  scripts/changelog.py
  tests/test_version.py
Due: configs, tests

refactor(draft-release): bump rule honors dep-bound transitions + show signal trace; drop TBD
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  scripts/changelog.py
Due: none

refactor(draft-release): per-signal categorization, dep-bump bucket, rewrite-on-rerun
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

feat: AI-drafted release flow (closes #1167) (#1592)
  .github/botocore-sync-prompt.md
  .github/draft-release-prompt.md
  .github/pull_request_template.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/botocore-sync.yml
  .github/workflows/ci-cd.yml
  .github/workflows/draft-release.yml
  .github/workflows/reusable-publish.yml
  CLAUDE.md
  CONTRIBUTING.rst
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
  plugins/aiobotocore-bot/skills/update-botocore-bounds/SKILL.md
  pyproject.toml
  scripts/__init__.py
  scripts/changelog.py
  tests/test_version.py
Due: configs, docs, tests

fix(draft-release): provision uv + Python in the workflow
  .github/workflows/draft-release.yml
Due: none

perf(draft-release): one git diff for net pyproject transition, not per-PR
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

fix(draft-release): provision uv + Python in workflow (#1594)
  .github/workflows/draft-release.yml
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

docs(CLAUDE.md): document the create-branch-via-API + MCP-with-explicit-branch pattern
  CLAUDE.md
Due: docs

fix(draft-release): tighten window boundary + clarify unique-PR count
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

docs(CLAUDE.md): canonical branch-creation pattern for Claude workflows (#1596)
  CLAUDE.md
Due: docs

fix(draft-release): tighten window boundary + unique-PR count (#1597)
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

ci: cache pre-commit hook envs (and .venv in reusable-test)
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/reusable-test.yml
Due: none

ci: cache pre-commit hook envs across all workflows (#1598)
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/reusable-test.yml
Due: none

fix(release): publish via ci-cd.yml workflow_dispatch (PyPI doesn't support reusable workflows)
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-publish.yml
Due: none

fix: add actions: write permission for gh workflow run + drop unused outputs
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(release): publish via ci-cd.yml workflow_dispatch (#1599)
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-publish.yml
Due: none

fix(release): dispatch ci-cd.yml against merge commit SHA, not tag
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(release): drop --draft from gh release create so the tag exists
  .github/workflows/auto-release-on-merge.yml
Due: none

ci(claude): switch PR-review default model from Opus to Sonnet
  .github/workflows/claude.yml
Due: none

fix(release): dispatch ci-cd.yml against merge commit SHA, not tag (#1600)
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/claude.yml
Due: none

chore: remove unneccesary `docutils` dev dependencies
  pyproject.toml
  uv.lock
Due: configs

chore: bump dev dependencies
  uv.lock
Due: none

chore: bump uv used in pre-commit and GitHub workflows
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/evals.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
Due: none

Clean-up and bump dev dependencies (#1602)
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/evals.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
