Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

ci: test on Python 3.15
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  uv.lock
Due: none

ci: bump the pinned uv to 0.11.33 so 3.15 means b4
  .github/workflows/botocore-sync.yml
  .github/workflows/ci-cd.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/evals.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
Due: none

ci: pin the 3.15 job to an exact beta so wheel caches can't go stale
  .github/workflows/ci-cd.yml
Due: none

ci: test the built dists instead of the checkout (closes #1169)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.rst
  Makefile
  pyproject.toml
  scripts/__init__.py
  tests/conftest.py
  tests/test_version.py
  uv.lock
Due: configs, docs, tests

ci: test on Python 3.15 (#1684)
  .github/workflows/botocore-sync.yml
  .github/workflows/ci-cd.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/evals.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
  uv.lock
Due: none

build: replace the Makefile with poethepoet tasks in pyproject.toml
  .github/botocore-sync-prompt.md
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
  .readthedocs.yml
  CLAUDE.md
  CONTRIBUTING.rst
  Makefile
  pyproject.toml
  uv.lock
Due: configs, docs

Resolve backend dispatch and pool review
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  aiobotocore/retries/adaptive.py
  aiobotocore/waiter.py
  tests/test_adaptive.py
  tests/test_client.py
  tests/test_httpsession.py
  tests/test_proxy.py
  tests/test_waiter.py
Due: library, tests

test: give test_waiter unique moto resource names
  CLAUDE.md
  tests/test_waiter.py
Due: docs, tests

fix: keep poe test runnable from an unpacked sdist
  .github/claude-review-prompt.md
  .github/workflows/reusable-lint.yml
  CONTRIBUTING.rst
  plugins/aiobotocore-bot/skills/analyze-pr-feedback/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  pyproject.toml
  tests/conftest.py
Due: configs, docs, tests

Apply SSL context formatting
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
Due: library

Use a single HTTPX session attribute
  aiobotocore/httpxsession.py
  tests/test_proxy.py
Due: library, tests

test: close the protocol fixture files and report slow tests
  .github/workflows/ci-cd.yml
  pyproject.toml
  tests/botocore_tests/unit/test_protocols.py
Due: configs, tests

perf: unpin coverage so 3.12+ gets the C tracer
  pyproject.toml
  uv.lock
Due: configs

test: give test_run_lambda a unique function name
  tests/test_lambda.py
Due: tests

fix: make the mock server event-driven and stop leaking its process
  pyproject.toml
  tests/mock_server.py
Due: configs, tests

ci: warm the moto Lambda image while dependencies install
  .github/workflows/reusable-test.yml
Due: none

ci: cancel superseded PR runs
  .github/workflows/ci-cd.yml
Due: none

test: stop test_sqs double-submitting CreateStack
  tests/conftest.py
  tests/test_waiter.py
Due: tests

perf: distribute tests by worksteal instead of load
  pyproject.toml
Due: configs

fix: stop a failed mock server parking its xdist worker
  tests/mock_server.py
Due: tests

fix: run the mock server in a thread instead of a subprocess
  tests/mock_server.py
Due: tests

test: drop the deprecated drain call and narrow the mock server except
  tests/mock_server.py
Due: tests

test: isolate the suite from ~/.aws and stop SNS calling the internet
  tests/conftest.py
  tests/test_sns.py
Due: tests

test: stop retrying non-idempotent creates against moto
  tests/conftest.py
  tests/test_waiter.py
Due: tests

ci: measure coverage on one job, and fail on never-awaited coroutines
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  pyproject.toml
  tests/botocore_tests/unit/test_utils.py
  tests/conftest.py
Due: configs, tests

ci: fix coverage reporting and fail the suite on leaked resources
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
  pyproject.toml
  tests/botocore_tests/unit/test_session.py
  tests/test_config.py
  tests/test_proxy.py
  tests/tls_helpers.py
Due: configs, tests

ci: drop the bespoke sdist gate, and fix an unawaited mock coroutine
  .github/workflows/reusable-build.yml
  tests/botocore_tests/unit/test_credentials.py
Due: tests

test: stop alternative_s3_client drifting from the shared config fixture
  .github/workflows/reusable-test.yml
  CLAUDE.md
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: configs, docs, tests

docs: correct the sdist claims 27a7df0 invalidated, and state the leak contract
  CLAUDE.md
  CONTRIBUTING.rst
Due: docs

test: drop the spawn fixture left behind by the threaded AIOServer
  tests/conftest.py
Due: tests

ci: test the built dists instead of the checkout (#1686)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CLAUDE.md
  CONTRIBUTING.rst
  Makefile
  plugins/aiobotocore-bot/skills/analyze-pr-feedback/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  pyproject.toml
  scripts/__init__.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_protocols.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_utils.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_config.py
  tests/test_lambda.py
  tests/test_mock_server.py
  tests/test_proxy.py
  tests/test_sns.py
  tests/test_version.py
  tests/test_waiter.py
  tests/tls_helpers.py
  uv.lock
Due: configs, docs, tests

ci: suppress the zizmor dangerous-triggers finding on claude.yml
  .github/workflows/claude.yml
Due: none

ci: keep notify-fork-pr inert in downstream forks
  .github/workflows/claude.yml
Due: none

ci: bump the zizmor reusable workflow off Node 20 actions
  .github/workflows/ci-cd.yml
Due: none

ci: record what the zizmor workflow SHA points at
  .github/workflows/ci-cd.yml
Due: none

ci: run zizmor from the released action, not the preview workflow
  .github/workflows/ci-cd.yml
Due: none

ci: run zizmor from the released action, not the preview workflow (#1692)
  .github/workflows/ci-cd.yml
Due: none

fix: ensure concurrency-safe session management in `HTTPSession` (fixes #1695)
  aiobotocore/httpsession.py
Due: library

fix: use canonical OAuth method for login credentials
  .gitignore
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
Due: library, configs, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
