Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

chore: restore gitignore
  .gitignore
Due: configs

fix: use generated SignIn OAuth method for login refresh (#1704)
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
Due: library, tests

feat: seed max attempts into the retries context on the first attempt
  aiobotocore/retries/standard.py
  tests/botocore_tests/functional/test_retry.py
  tests/botocore_tests/unit/retries/test_standard_retry_v2_1.py
Due: library, tests

feat: honour a per-request read_timeout override in both HTTP backends
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  tests/test_httpsession.py
Due: library, tests

build: bump botocore dependency specification to support "botocore >= 1.43.66, < 1.43.76"
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: configs, tests

feat: support botocore 1.43.75 — seed max attempts and honour per-request read_timeout (#1709)
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  aiobotocore/retries/standard.py
  pyproject.toml
  tests/botocore_tests/functional/test_retry.py
  tests/botocore_tests/unit/retries/test_standard_retry_v2_1.py
  tests/test_httpsession.py
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Update version from 3.10.0 to 3.9.1
  CHANGES.rst
Due: changelog, docs

Update version from 3.10.0 to 3.9.1
  aiobotocore/__init__.py
Due: library

fix: adapt event stream outputs for the httpx backend
  aiobotocore/endpoint.py
  aiobotocore/response.py
  tests/test_eventstreams.py
Due: library, tests

fix: make AIOHTTPSession.close() idempotent
  aiobotocore/httpsession.py
  tests/test_httpsession.py
Due: library, tests

Update tests/test_httpsession.py
  tests/test_httpsession.py
Due: tests

fix: make AIOHTTPSession.close() idempotent (#1745)
  aiobotocore/httpsession.py
  tests/test_httpsession.py
Due: library, tests

chore: move evals and workflows to Opus 5.5 / Sonnet 5.5
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  tests/evals/test_common.py
Due: tests

chore: price Opus 5 / Sonnet 5 for baseline eval runs
  plugins/aiobotocore-bot/evals/_common.py
Due: none

chore: evaluate on Sonnet 5.5 at high and pin effort in Claude workflows
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  plugins/aiobotocore-bot/evals/_common.py
Due: none

test: cover structured-output verdict parsing and effort passthrough in evals
  tests/evals/test_common.py
Due: tests

fix(evals): drop stale tool-call instructions from the classifier prompts
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
Due: none

feat(evals): score check-async-need on the escalation decision and add 17 newer syncs
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
  tests/evals/test_check_async_need.py
Due: tests

fix(evals): relabel #1579, add rationales for newer syncs, fail eval steps on crash
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

test: fix race in test_waiter_table_exists
  tests/test_dynamodb.py
Due: tests

test: fix race in test_waiter_table_exists (#1754)
  tests/test_dynamodb.py
Due: tests

fix: track copied StreamingBody methods and evaluate with historical registries
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
  tests/test_patches.py
Due: tests

ci(evals): dump a stack trace and keep partial output on a native crash
  .github/workflows/evals.yml
Due: none

fix(evals): parse old test_patches format, fix TLS crash, drop eval coverage
  .codecov.yml
  .github/workflows/reusable-lint.yml
  plugins/aiobotocore-bot/evals/_common.py
  tests/evals/test_common.py
Due: configs, tests

chore(ai): refresh Claude prompts for the 5.5 models and drop the WIP-branch flow
  .github/botocore-classify-prompt.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  CLAUDE.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/pyright-delta/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
  plugins/aiobotocore-bot/skills/update-botocore-bounds/SKILL.md
Due: docs

fix: address review of the sync draft flow, eval scoring and classify failures
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
  plugins/aiobotocore-bot/evals/check_async_need.py
  pyproject.toml
  tests/evals/test_check_async_need.py
  uv.lock
Due: configs, tests

feat(evals): rebuild the check-override-drift eval on committed fixtures
  .github/workflows/evals.yml
  .pre-commit-config.yaml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-client-error-log.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-empty-checksum.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-retry-cap.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-status-boundary.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-comments.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-docstring-and-hint.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-docstring.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-import-order.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-type-hints.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1534.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1562.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1571.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1606.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1709.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1744.diff
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  tests/evals/test_check_override_drift.py
Due: tests

fix(ci): resume a draft sync PR even when classification would fail
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

feat(evals): add a porting-stage eval that replays historical ports
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_porting.py
  tests/evals/test_check_porting.py
Due: tests

fix: run sync test gates in the foreground; porting eval kills agent leftovers
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

ci(evals): install Claude Code for the porting eval from a lockfile
  .github/claude-code/package-lock.json
  .github/claude-code/package.json
  .github/workflows/evals.yml
Due: none

fix(evals): stop the drift prompt pulling in unchanged methods and missing classes
  plugins/aiobotocore-bot/evals/check_override_drift.py
  tests/evals/test_check_override_drift.py
Due: tests

fix(evals): grade ports on the aiohttp backend
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

fix(evals): install the target botocore into the port worktree's venv
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

chore: move Claude workflows to Opus 5.5 / Sonnet 5.5, refresh prompts and evals (#1753)
  .codecov.yml
  .github/botocore-classify-prompt.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/draft-release.yml
  .github/workflows/evals.yml
  .github/workflows/reusable-lint.yml
  CLAUDE.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/pyright-delta/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
  plugins/aiobotocore-bot/skills/update-botocore-bounds/SKILL.md
  pyproject.toml
  tests/evals/test_check_async_need.py
  tests/evals/test_common.py
  tests/test_patches.py
  uv.lock
Due: configs, docs, tests

fix(evals): drop a misplaced workflow comment; mark porting timeouts
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

feat(evals): rebuild the check-override-drift eval on committed fixtures (#1755)
  .github/workflows/evals.yml
  .pre-commit-config.yaml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-client-error-log.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-empty-checksum.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-retry-cap.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/behavioral-status-boundary.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-comments.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-docstring-and-hint.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-docstring.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-import-order.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/cosmetic-type-hints.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1534.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1562.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1571.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1606.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1709.diff
  plugins/aiobotocore-bot/evals/drift_fixtures/pr1744.diff
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  tests/evals/test_check_override_drift.py
Due: tests

chore(evals): print porting-eval progress per stage
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

fix: tell the sync agent to exclude localonly tests from direct test runs
  .github/botocore-sync-prompt.md
Due: none

docs: skip localonly tests in CLAUDE.md's direct pytest example
  CLAUDE.md
Due: docs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
