Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

  notify:
    manual_trigger: true  # prevent notifications until we notify Codecov

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

evals: add --debug-misclassifications follow-up mechanism
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
Due: none

switch to Opus 4.7 default across eval, sync, reviewer
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  plugins/aiobotocore-bot/evals/_common.py
Due: none

check-async-need: invert rule 3 — gate first, absolutes scoped
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
Due: none

skill + evals workflow: tighter class-vs-method rule + .venv caching
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
Due: none

workflows: extend .venv cache to botocore-sync and claude workflows
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

verdict parsing + protocol: reason first, last-match, ban hash anchor
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
Due: none

evals: seed json-out early so artifact uploads survive mid-run failures
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  tests/evals/test_common.py
Due: tests

open-pr: render classifier verdicts as a table in bump PR body
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
Due: none

review-pr + port-tests: coverage-driven porting suggestions, richer rules
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
Due: none

evals: simplify tool schema + debug follow-up handles parse-error too
  plugins/aiobotocore-bot/evals/_common.py
  tests/evals/test_common.py
Due: tests

evals: force structured tool-use output instead of regex parsing
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  tests/evals/test_common.py
Due: tests

evals: bump max_tokens + surface stop_reason + add cost/usage summary
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
Due: none

review fixes: schema consistency, port-tests revert tool, coverage feasibility
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
Due: none

AI workflows: classifier accuracy, structured verdicts, port-tests skill (#1570)
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/scripts/registries.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
  tests/evals/test_common.py
Due: tests

botocore-sync: register aiobotocore-bot plugin for Skill-tool discovery
  .github/workflows/botocore-sync.yml
Due: none

open-pr: de-duplicate sync PR body (table vs prose)
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
Due: none

botocore-sync: plugin-dir + open-pr de-duplication (#1572)
  .github/workflows/botocore-sync.yml
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
Due: none

port-tests: allow creating new mirror files when tests exercise registered overrides
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
Due: none

port-tests: narrow rm permission to tests/botocore_tests/
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
Due: none

AI workflows: 2-job sync split + PR-body verbosity ceiling + bump-version fixes
  .github/botocore-classify-prompt.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
Due: none

port-tests: allow creating new mirror files for tests exercising registered overrides (#1573)
  plugins/aiobotocore-bot/skills/port-tests/SKILL.md
Due: none

AI workflows: 2-job sync split + PR-body verbosity ceiling + bump-version fixes (#1574)
  .github/botocore-classify-prompt.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
Due: none

Restructure StreamingBody as Aio* subclass hierarchy of botocore.StreamingBody
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/response.py
Due: library, changelog, docs

Relax `botocore` dependency specification
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification (#1578)
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification
  .github/workflows/ci-cd.yml
  CHANGES.rst
  README.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/httpsession.py
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_utils.py
  tests/test_basic_s3.py
  uv.lock
Due: library, configs, changelog, docs, tests

ci(claude): skip dependabot and fork PRs in pull_request trigger
  .github/workflows/claude.yml
Due: none

ci(claude): comment on fork PRs that auto-review is disabled
  .github/workflows/claude.yml
Due: none

docs(claude-prompt): pass --skip-reply for events the sticky comment already covers
  .github/claude-review-prompt.md
Due: none

ci(claude): switch to pull_request_target so workflow-touching PRs review
  .github/workflows/claude.yml
Due: none

ci(claude): skip dependabot and fork PRs in pull_request trigger (#1582)
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Relax `botocore` dependency specification (#1579)
  .github/workflows/ci-cd.yml
  CHANGES.rst
  README.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/httpsession.py
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_utils.py
  tests/test_basic_s3.py
  uv.lock
Due: library, configs, changelog, docs, tests

Revert "ci(claude): switch to pull_request_target so workflow-touching PRs review"
  .github/workflows/claude.yml
Due: none

ci(claude): comment why pull_request_target is the wrong workaround
  .github/workflows/claude.yml
Due: none

Revert pull_request → pull_request_target switch (App token 401) (#1583)
  .github/workflows/claude.yml
Due: none

test: regression test for warm_up_loader_caches with services missing optional models
  tests/test_session.py
Due: tests

style: ruff fixes after merging main (Optional[X] -> X | None, post-3.9 drop) + regenerated uv.lock
  aiobotocore/session.py
  uv.lock
Due: library

Support warm-up of loader caches (#1462)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/session.py
  pyproject.toml
  tests/test_config.py
  tests/test_session.py
  uv.lock
Due: library, configs, changelog, docs, tests

fix: remove dead try/except StopAsyncIteration in read() — async for handles it; bump to 3.8.0 (3.7.0 taken by #1462)
  aiobotocore/__init__.py
  aiobotocore/response.py
Due: library

fix: build SSL context off the event loop in AIOHTTPSession and HttpxSession
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  tests/test_httpsession.py
Due: library, changelog, docs, tests
