Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

Add zizmor GitHub workflow integration
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-zizmor.yml
Due: none

Zizmor integration and reusable build and test workflows (#1344)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-zizmor.yml
Due: none

Deprecate non-async ResponseParser.parse methods
  CHANGES.rst
  aiobotocore/endpoint.py
Due: library, changelog, docs

Fully patch `ClientArgsCreator.get_client_args()`
  CHANGES.rst
  aiobotocore/args.py
Due: library, changelog, docs

Patch `Endpoint.__init__()`
  CHANGES.rst
  aiobotocore/endpoint.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Patch `EventStream._parse_event()` and `ResponseParser.parse()`
  CHANGES.rst
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/test_eventstreams.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Patch `ResponseParser.parse()` and others to prepare for upstream bump (#1347)
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/test_eventstreams.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Raise required uv and update lock file
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Bump dev dependencies
  pyproject.toml
  uv.lock
Due: configs

Bump dev dependencies (#1346)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Refactor build and test CI/CD jobs into reusable workflows
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
Due: none

Refactor build and test CI/CD jobs into reusable workflows (#1345)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
Due: none

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/parsers.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Update botocore to 1.37.3
  CHANGES.rst
  aiobotocore/parsers.py
  pyproject.toml
  tests/botocore_tests/unit/protocols/legacy/output/ec2.json
  tests/botocore_tests/unit/protocols/legacy/output/json.json
  tests/botocore_tests/unit/protocols/legacy/output/query.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-json.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/ec2.json
  tests/botocore_tests/unit/protocols/output/json.json
  tests/botocore_tests/unit/protocols/output/json_1_0.json
  tests/botocore_tests/unit/protocols/output/query.json
  tests/botocore_tests/unit/protocols/output/rest-json.json
  tests/botocore_tests/unit/protocols/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/smithy-rpc-v2-cbor.json
  tests/botocore_tests/unit/protocols/protocol-tests-ignore-list.json
  tests/botocore_tests/unit/test_protocols.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

add new patched objects as new test cases
  tests/test_patches.py
Due: tests

Bump `botocore` dependency specification (#1348)
  CHANGES.rst
  aiobotocore/parsers.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

other PR got merged with conflicting changes. this branch is now only pulling in tests from upstream to cover more of the parsers file
  tests/test_patches.py
Due: tests

Update botocore to 1.37.3 (#1323)
  CHANGES.rst
  tests/botocore_tests/unit/protocols/legacy/output/ec2.json
  tests/botocore_tests/unit/protocols/legacy/output/json.json
  tests/botocore_tests/unit/protocols/legacy/output/query.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-json.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/ec2.json
  tests/botocore_tests/unit/protocols/output/json.json
  tests/botocore_tests/unit/protocols/output/json_1_0.json
  tests/botocore_tests/unit/protocols/output/query.json
  tests/botocore_tests/unit/protocols/output/rest-json.json
  tests/botocore_tests/unit/protocols/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/smithy-rpc-v2-cbor.json
  tests/botocore_tests/unit/protocols/protocol-tests-ignore-list.json
  tests/botocore_tests/unit/test_protocols.py
Due: changelog, docs, tests

Bump uv
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Bump `uv` dev dependency (#1350)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Nest test CI/CD jobs under the same sidebar category
  .github/workflows/ci-cd.yml
Due: none

Nest test CI/CD jobs under the same sidebar category (#1354)
  .github/workflows/ci-cd.yml
Due: none

Leverage reusable zizmor workflow
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-zizmor.yml
Due: none

Leverage reusable zizmor workflow (#1355)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-zizmor.yml
Due: none

Remove Python 3.8 support
  .github/workflows/ci-cd.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_tokens.py
  tests/botocore_tests/unit/test_utils.py
  tests/python3.8/__init__.py
  tests/python3.8/botocore_tests/__init__.py
  tests/python3.8/botocore_tests/unit/__init__.py
  tests/python3.8/botocore_tests/unit/test_credentials.py
  tests/python3.8/botocore_tests/unit/test_signers.py
  tests/python3.8/botocore_tests/unit/test_utils.py
  tests/python3.8/test_eventstreams.py
  tests/test_config.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_stubber.py
  uv.lock
Due: library, configs, changelog, docs, tests

Remove Python 3.8 support (#1351)
  .github/workflows/ci-cd.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_tokens.py
  tests/botocore_tests/unit/test_utils.py
  tests/python3.8/__init__.py
  tests/python3.8/botocore_tests/__init__.py
  tests/python3.8/botocore_tests/unit/__init__.py
  tests/python3.8/botocore_tests/unit/test_credentials.py
  tests/python3.8/botocore_tests/unit/test_signers.py
  tests/python3.8/botocore_tests/unit/test_utils.py
  tests/python3.8/test_eventstreams.py
  tests/test_config.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_stubber.py
  uv.lock
Due: library, configs, changelog, docs, tests

Fix documentation of minimum supported Python version
  README.rst
Due: docs

error if unknown http backend
  tests/conftest.py
Due: tests

add HttpxStreamingChecksumBody to fix tests. But there's probably a neater solution.
  aiobotocore/httpchecksum.py
Due: library

fix test_output_compliance fails... as it uses global state 🙃
  aiobotocore/httpchecksum.py
  tests/botocore_tests/unit/test_protocols.py
Due: library, tests

stop using include in CI for conditional vars
  .github/workflows/ci-cd.yml
Due: none

quote os value
  .github/workflows/ci-cd.yml
Due: none

dont use matrix for conditional variables in CI
  .github/workflows/ci-cd.yml
Due: none

remove HttpxAWSResponse, replace with some logic in AioAWSResponse
  aiobotocore/awsrequest.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpxsession.py
Due: library

do I also need to quote the version number?
  .github/workflows/ci-cd.yml
Due: none

ah no, I mixed up - and _
  .github/workflows/ci-cd.yml
Due: none

small fixes after review
  .github/workflows/ci-cd.yml
  aiobotocore/httpxsession.py
Due: library

move skip_httpx to tests/conftest
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

Added Misc category
  docs/examples.rst
  docs/examples/cognito/basic_usage.rst
  examples/cognito_forgot_password.py
Due: docs

improve exception mapping & retryable exceptions
  aiobotocore/_endpoint_helpers.py
  aiobotocore/httpxsession.py
  aiobotocore/response.py
Due: library
