Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

  notify:
    manual_trigger: true  # prevent notifications until we notify Codecov

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

ci: include Python 3.15 in CI
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  pyproject.toml
Due: configs

chore: relax `botocore` dependency specification
  pyproject.toml
  uv.lock
Due: configs

test: clean up after `test_run_lambda`
  tests/test_lambda.py
Due: tests

Relax `botocore` dependency specification (#1605)
  pyproject.toml
  tests/test_lambda.py
  uv.lock
Due: configs, tests

ci(botocore-sync): pre-install target botocore + bump max-turns to 150
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

ci: add sphinx-lint pre-commit hook (closes #1560) (#1590)
  .pre-commit-config.yaml
Due: none

ci(botocore-sync): pre-install target botocore + bump max-turns to 150 (#1607)
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

docs(ai-workflows): require sticky-comment checklist finalize
  .github/claude-review-prompt.md
Due: none

fix(docs): RTD must skip default groups to avoid installing test stack
  .readthedocs.yml
Due: configs

docs(ai-workflows): require sticky-comment checklist finalize (#1608)
  .github/claude-review-prompt.md
Due: none

docs: unify local + RTD docs build via uv (closes #1166) (#1591)
  .readthedocs.yml
  Makefile
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: configs, docs

chore(coverage): configure coverage tooling to handle unreachable code properly
  .codecov.yml
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/helpers.py
  tests/mock_server.py
  tests/test_plugin_context.py
  uv.lock
Due: configs, tests

fix(codecov): correct indentation in coverage.status.tests paths list
  .codecov.yml
Due: configs

fix: build SSL context off event loop (closes #1469) (#1587)
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  tests/test_httpsession.py
Due: library, tests

ci: bump codecov-action v6.0.1->v6.0.2 to fix dead PGP key URL
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Due: none

ci: bump codecov-action v6.0.1→v6.0.2 to fix dead PGP key URL (unblocks merge queue) (#1625)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Due: none

ci(botocore-sync): compact test output via rtk to cut Opus token cost
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

ci(botocore-sync): pin rtk version + verify sha256
  .github/workflows/botocore-sync.yml
Due: none

ci(draft-release): exclude internal (ci/chore/test) changes from CHANGES.rst
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

ci(claude-review): wrap test runs in rtk for consistency
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

ci: install rtk to /usr/local/bin, not $GITHUB_PATH
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

ci: trim botocore-sync token cost (rtk) and drop internal changes from CHANGES.rst (#1626)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

fix(coverage): address review feedback from @claude
  .codecov.yml
  pyproject.toml
Due: configs

chore: revert version bump and changelog entry
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

refactor: split streaming body into shared base + per-backend subclasses
  aiobotocore/response.py
Due: library

chore(coverage): configure coverage tooling to handle unreachable code properly
  .codecov.yml
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/helpers.py
  tests/mock_server.py
  tests/test_plugin_context.py
Due: configs, tests

chore: apply ruff RET/C4/PIE cleanups across aiobotocore/ and tests/
  aiobotocore/awsrequest.py
  aiobotocore/client.py
  aiobotocore/configprovider.py
  aiobotocore/credentials.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/hooks.py
  aiobotocore/httpsession.py
  aiobotocore/paginate.py
  aiobotocore/parsers.py
  aiobotocore/regions.py
  aiobotocore/response.py
  aiobotocore/retries/bucket.py
  aiobotocore/retries/special.py
  aiobotocore/retryhandler.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/conftest.py
  tests/botocore_tests/unit/retries/test_standard_retry_v2_1.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_protocols.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_config.py
  tests/test_dynamodb.py
  tests/test_monitor.py
  tests/test_stubber.py
Due: library, tests

sync: botocore 1.43.36
  pyproject.toml
Due: configs

sync: botocore 1.43.36
  pyproject.toml
  uv.lock
Due: configs

sync: botocore 1.43.36 (#1651)
  pyproject.toml
  uv.lock
Due: configs

fix: restore CHANGES.rst to its pre-PR state
  CHANGES.rst
Due: changelog, docs

test: cover the explicit blocked sync API and aiohttp aclose
  tests/test_response.py
Due: tests

fix: stream httpx raw bytes and treat a negative read size as read-all
  aiobotocore/response.py
  tests/test_response.py
Due: library, tests

chore: bump eval model pins to Opus 4.8 / Sonnet 5 and refresh stale cost rationales
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
Due: none

fix(draft-release): commit to the release branch, not main
  .github/workflows/draft-release.yml
  CLAUDE.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: docs

Define explicit StreamingBody API, add httpx read(amt) support (#1539)
  CLAUDE.md
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/response.py
  tests/test_response.py
Due: library, docs, tests

chore: bump eval model pins to Opus 4.8 / Sonnet 5 and refresh stale cost rationales (#1661)
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
Due: none
