Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Fix issues from PR review
  .github/botocore-sync-prompt.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/evals/check_async_need.py
Due: docs

evals: extract _common.py + asyncio.gather for N-runs parallelism
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/generate_scenarios.py
Due: none

Unify sync PR titles: always "Bump botocore dependency specification"
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/commands/review-pr.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/generate_scenarios.py
Due: docs

Address claude[bot] PR review findings
  plugins/aiobotocore-bot/commands/pyright-delta.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/generate_scenarios.py
Due: none

Add tests for eval helpers
  tests/evals/__init__.py
  tests/evals/conftest.py
  tests/evals/test_common.py
Due: tests

evals: move anthropic to dev deps, encapsulate client in _common
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  pyproject.toml
  uv.lock
Due: configs

Fix check-async-need.md: recurse into aiobotocore subdirs
  plugins/aiobotocore-bot/commands/check-async-need.md
Due: none

Fix two stale phrasings caught in claude[bot] review
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/commands/bump-version.md
Due: none

Rewrap line 296 of sync prompt to pass rumdl
  .github/botocore-sync-prompt.md
Due: none

Address latest claude[bot] review findings
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/commands/pyright-delta.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
Due: none

evals.yml: refresh tags on cache hit
  .github/workflows/evals.yml
Due: none

Stop review-pr from pre-loading files via parallel subagents
  .github/claude-review-prompt.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: none

Address four items from latest claude[bot] PR review
  plugins/aiobotocore-bot/commands/complete-run.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_async_need.py
  tests/evals/test_common.py
Due: tests

Fix #2 and #3 from latest PR review (#1 was already landed in 0de0463)
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/commands/pyright-delta.md
Due: none

Add clean-port case to drift_scenarios.yaml
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
Due: none

claude.yml: cancel in-flight reviews on new PR pushes
  .github/workflows/claude.yml
Due: none

Address claude[bot] review findings (skipping changes.rst per user)
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

AI workflows: shared classifier commands, reviewer drift checks, and an eval harness (#1563)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
  .github/workflows/evals.yml
  CLAUDE.md
  CONTRIBUTING.rst
  docs/ai-workflows.md
  docs/override-patterns.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/commands/bump-version.md
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/commands/check-override-drift.md
  plugins/aiobotocore-bot/commands/complete-run.md
  plugins/aiobotocore-bot/commands/open-pr.md
  plugins/aiobotocore-bot/commands/pyright-delta.md
  plugins/aiobotocore-bot/commands/review-pr.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
  plugins/aiobotocore-bot/evals/generate_scenarios.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
  pyproject.toml
  tests/evals/__init__.py
  tests/evals/conftest.py
  tests/evals/test_common.py
  uv.lock
Due: configs, docs, tests

evals: align botocore cache with sync workflow, bump upload-artifact to v7
  .github/workflows/evals.yml
Due: none

evals: single-active workflow + classifier signature-change criterion + #1480 tension note
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

Broaden classifier criterion: any change to overridden functions, not just signatures
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

Nuance the port criterion: substantive body changes only, cosmetic diffs are hash-bumps not ports
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

Add pre-port cross-diff step to sync prompt
  .github/botocore-sync-prompt.md
Due: none

Clarify that only check-async-need job uses the botocore cache
  .github/workflows/evals.yml
Due: none

evals + sync-prompt: shared botocore cache, concurrency, and classifier refinements from first eval run (#1565)
  .github/botocore-sync-prompt.md
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

evals: Sonnet default + parse-error hardening
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  tests/evals/test_common.py
Due: tests

workflow: tell reviewer to read command files, not use Skill tool
  .github/claude-review-prompt.md
Due: none

plugin: convert commands to skills
  .claude-plugin/marketplace.json
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
  plugins/aiobotocore-bot/skills/analyze-pr-feedback/SKILL.md
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  plugins/aiobotocore-bot/skills/complete-run/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/pyright-delta/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
  tests/evals/test_common.py
Due: docs, tests

Revert claude.yml comment tweak
  .github/workflows/claude.yml
Due: none

workflow: pass --plugin-dir so SDK registers plugin skills
  .github/workflows/claude.yml
Due: none

evals: strip trailing asterisks in verdict capture
  plugins/aiobotocore-bot/evals/_common.py
  tests/evals/test_common.py
Due: tests

evals: switch default model to Sonnet + harden parse-error path (#1567)
  .claude-plugin/marketplace.json
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
  plugins/aiobotocore-bot/skills/analyze-pr-feedback/SKILL.md
  plugins/aiobotocore-bot/skills/bump-version/SKILL.md
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
  plugins/aiobotocore-bot/skills/complete-run/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/pyright-delta/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
  tests/evals/test_common.py
Due: docs, tests

evals: capture rationales, allow targeted re-runs
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/check_async_need.py
Due: none

evals: tighten substantive-change def + sanity-check verdict roll-up
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
Due: none

evals + skills: inject test_patches.py registry as override ground truth
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/check-override-drift/SKILL.md
Due: none

evals + sync: use adaptive effort consistently
  .github/workflows/botocore-sync.yml
  plugins/aiobotocore-bot/evals/_common.py
Due: none

criteria v4: unify skill + eval via shared registry helper
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/scripts/registries.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
Due: none

evals: enable extended thinking on Sonnet classifier calls
  plugins/aiobotocore-bot/evals/_common.py
Due: none

evals + skill: nuance registry semantics, add call-graph back-track
  plugins/aiobotocore-bot/evals/_common.py
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
Due: none

evals: revert to `thinking.type=enabled` (adaptive shape not live yet)
  plugins/aiobotocore-bot/evals/_common.py
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
