Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
Due: library, configs, changelog, docs

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/handlers.py
  aiobotocore/hooks.py
  pyproject.toml
  tests/boto_tests/unit/test_handlers.py
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

bump `botocore` dependency specification
  aiobotocore/utils.py
  pyproject.toml
  tests/test_patches.py
Due: library, configs, tests

bump `botocore` dependency specification
  aiobotocore/hooks.py
  aiobotocore/signers.py
  pyproject.toml
  requirements-dev.in
  tests/boto_tests/__init__.py
  tests/boto_tests/unit/test_signers.py
  tests/test_patches.py
Due: library, configs, tests

bump `check-jsonschema` pre-commit hook
  .pre-commit-config.yaml
Due: none

bump `sphinx` docs dependency
  docs/requirements.txt
Due: docs

test Python package distributions in CI
  .github/workflows/ci-cd.yml
Due: none

trigger CI on `merge_group` event
  .github/workflows/ci-cd.yml
Due: none

check that git tag matches version in CI/CD
  .github/workflows/ci-cd.yml
Due: none

sort `project.dependencies` in pyproject.toml
  pyproject.toml
Due: configs

consolidate documentation on running tests
  CONTRIBUTING.rst
  README.rst
Due: docs

document `pre-commit install`
  CONTRIBUTING.rst
Due: docs

run CI without `awscli` and `boto3` extras
  .github/workflows/ci-cd.yml
Due: none

document local environment setup without installing `awscli` and `boto3` extras
  CONTRIBUTING.rst
  README.rst
Due: docs

add missing entries to `project.dependencies` in pyproject.toml
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
Due: library, configs, changelog, docs

use sparse style to specify dependencies in pyproject.toml
  pyproject.toml
Due: configs

add missing dev dependencies to requirements-dev.in
  requirements-dev.in
Due: none

document local environment setup without installing `awscli` and `boto3` extras
  CONTRIBUTING.rst
Due: docs

relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
Due: configs, changelog, docs

use list_objects_v2 in readme
  README.rst
Due: docs

fix checksum import for botocore 1.36.0
  CHANGES.rst
  aiobotocore/httpchecksum.py
Due: library, changelog, docs

leverage `uv`
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  pyproject.toml
  requirements-dev.in
  uv.lock
Due: configs, docs

bump dev dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

pin CI/CD to run on ubuntu-24.04
  .github/workflows/ci-cd.yml
Due: none

integrate `alls-green` in CI/CD
  .github/workflows/ci-cd.yml
Due: none

support custom `ttl_dns_cache` connector configuration
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  tests/test_config.py
Due: library, changelog, docs, tests

avoid pulling outdated container images in `mototest` make target
  Makefile
Due: none

enforce multiprocessing start method `spawn` in test suite
  tests/conftest.py
Due: tests

relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

run tests on `ubuntu-24.04` and `ubuntu-24.04-arm` CI runners
  .github/workflows/ci-cd.yml
Due: none

mark `ubuntu-24.04-arm` CI runners as experimental
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
