Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

pep
  tests/botocore/helpers.py
Due: tests

add test and codecov (#859)
  .codecov.yml
  tests/botocore/helpers.py
  tests/botocore/test_credentials.py
Due: configs, tests

Add session namespace back to aiobotocore import
  README.rst
Due: docs

Simplified usage of imports to match signature in test files
  README.rst
Due: docs

Fix code sample typos for Context Manager Examples in README.rst file (#860)
  README.rst
Due: docs

bump and fix tests
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/endpoint.py
  aiobotocore/waiter.py
  setup.py
  tests/test_patches.py
  tests/test_sqs.py
Due: library, changelog, docs, tests

add back
  Pipfile
Due: none

flake
  tests/test_patches.py
Due: tests

put this back too
  Pipfile
Due: none

TCP_CONNECTOR(ssl_context) deprecated. Change to ssl
  aiobotocore/endpoint.py
Due: library

fix
  aiobotocore/endpoint.py
Due: library

update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

TCP_CONNECTOR(ssl_context) deprecated. Change to ssl (#863)
  CHANGES.rst
  aiobotocore/endpoint.py
Due: library, changelog, docs

revert accidental dupe of _register_s3_events
  aiobotocore/client.py
Due: library

resolve issue# 868
  Pipfile
  aiobotocore/handlers.py
  aiobotocore/session.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_ec2.py
  tests/test_patches.py
Due: library, tests

bump
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

flake
  aiobotocore/handlers.py
  tests/test_ec2.py
Due: library, tests

fix imports
  tests/botocore/test_credentials.py
  tests/botocore/test_signers.py
  tests/botocore/test_utils.py
Due: tests

fix # 868 (#869)
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/handlers.py
  aiobotocore/session.py
  tests/botocore/test_credentials.py
  tests/botocore/test_signers.py
  tests/botocore/test_utils.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_ec2.py
  tests/test_patches.py
Due: library, changelog, docs, tests

- add support for aio user agent - change __init__ imports to match botocore
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/session.py
  tests/conftest.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump botocore
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

fix flake
  aiobotocore/endpoint.py
Due: library

bump botocore (#871)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

fix aiojsonparser
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_eventstreams.py
  tests/test_patches.py
Due: library, changelog, docs, tests

flake
  tests/test_eventstreams.py
Due: tests

attempt to fix code coverage
  .github/workflows/python-package.yml
  Makefile
Due: none

fix AioJSONParser (#873)
  .github/workflows/python-package.yml
  CHANGES.rst
  Makefile
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_eventstreams.py
  tests/test_patches.py
Due: library, changelog, docs, tests

refactor http session to match botocore
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  tests/test_patches.py
  tests/test_session.py
Due: library, tests

put this back
  aiobotocore/httpsession.py
Due: library

fix flake/lgtm
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/waiter.py
Due: library

doh
  CHANGES.rst
Due: changelog, docs

rename test in hopes it will run
  tests/test_version.py
Due: tests

more botocore matching
  CHANGES.rst
  README.rst
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  docs/index.rst
  docs/tutorial.rst
  examples/dynamodb_batch_write.py
  examples/dynamodb_create_table.py
  examples/simple.py
  examples/sqs_queue_consumer.py
  examples/sqs_queue_create.py
  examples/sqs_queue_producer.py
  setup.py
  tests/botocore/test_signers.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_session.py
Due: library, changelog, docs, tests

more links!
  CHANGES.rst
Due: changelog, docs

fix SSL
  CHANGES.rst
  aiobotocore/httpsession.py
Due: library, changelog, docs

fix refactor
  docs/index.rst
Due: docs

fix content type, whoops
  setup.py
Due: none

try to fix weird RST errors
  CHANGES.rst
  README.rst
Due: changelog, docs

fix import
  tests/test_session.py
Due: tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
