Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

  notify:
    manual_trigger: true  # prevent notifications until we notify Codecov

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

docs(ai-workflows): mermaid diagrams + table fixes
  docs/ai-workflows.md
Due: docs

build(pre-commit): add rumdl markdown linter
  .claude/commands/analyze-pr-feedback.md
  .claude/commands/review-pr.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/ai-workflows.md
  docs/override-patterns.md
  pyproject.toml
Due: configs, docs

docs(ai-workflows): render the Usage example as an actual table
  docs/ai-workflows.md
Due: docs

docs(ai-workflows): address simplify review findings
  CLAUDE.md
  docs/ai-workflows.md
  pyproject.toml
Due: configs, docs

fix: restore nesting in botocore-sync-prompt.md step 4b
  .github/botocore-sync-prompt.md
Due: none

security: pin rumdl-pre-commit by commit SHA
  .pre-commit-config.yaml
Due: none

feat: package slash commands as an inline Claude Code plugin
  .claude-plugin/marketplace.json
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
  docs/ai-workflows.md
  plugins/aiobotocore-bot/.claude-plugin/plugin.json
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/commands/analyze-pr-feedback.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: docs

fix: pin uv, resync action, fix IS_FORK step order, SHA-pin hooks
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
Due: none

security: add fork-PR prompt injection defenses (A + D1)
  .github/claude-review-prompt.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: docs

fix: pin claude-code-action by commit SHA, not tag-object SHA
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

docs(ai-workflows): update stale path references
  docs/ai-workflows.md
Due: docs

AI workflows: docs, plugin packaging, rumdl linter, security hardening (#1556)
  .claude-plugin/marketplace.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/pull_request_template.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.rst
  docs/ai-workflows.md
  docs/override-patterns.md
  plugins/aiobotocore-bot/.claude-plugin/plugin.json
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/commands/analyze-pr-feedback.md
  plugins/aiobotocore-bot/commands/review-pr.md
  pyproject.toml
Due: configs, docs

docs(aiobotocore): add missing module docstring
  aiobotocore/__init__.py
  tmp/issue-body.md
  tmp/pr-body.md
Due: library

chore: remove scratch tmp/ and gitignore it
  tmp/issue-body.md
  tmp/pr-body.md
Due: none

chore: .gitignore tmp/ (missed in prior commit)
  .gitignore
Due: configs

docs(aiobotocore): add missing module docstring (also: AI review smoke test) (#1558)
  .gitignore
  aiobotocore/__init__.py
Due: library, configs

docs: fix README naked URL and CONTRIBUTING Sphinx-only roles
  CONTRIBUTING.rst
  README.rst
Due: docs

docs: make file refs actually clickable, keep types-aiobotocore URL visible
  CONTRIBUTING.rst
  README.rst
Due: docs

docs(README): scope link text to just the package name
  README.rst
Due: docs

docs(README): use anonymous RST hyperlink to avoid duplicate target
  README.rst
Due: docs

docs: fix README naked URL and CONTRIBUTING Sphinx roles (#1559)
  CONTRIBUTING.rst
  README.rst
Due: docs

Code review fixes for oldest files
  aiobotocore/client.py
  aiobotocore/config.py
  aiobotocore/endpoint.py
Due: library

fix: code review improvements for oldest files
  aiobotocore/_helpers.py
  aiobotocore/configprovider.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/special.py
Due: library

AI workflows: require async-need check for botocore sync classification
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: none

AI workflows: extract check-async-need and open-pr plugin commands
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/commands/open-pr.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: none

AI workflows: tighten dispatch, extract bump-version/complete-run/pyright-delta
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  CLAUDE.md
  plugins/aiobotocore-bot/commands/bump-version.md
  plugins/aiobotocore-bot/commands/complete-run.md
  plugins/aiobotocore-bot/commands/pyright-delta.md
Due: docs

AI workflows: fix stale step reference and update plugin README
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/README.md
Due: none

docs(ai-workflows): reflect renumbered sync steps and new plugin commands
  docs/ai-workflows.md
Due: docs

Fix stale step refs in check-async-need Consumption section
  plugins/aiobotocore-bot/commands/check-async-need.md
Due: none

AI workflows: address self-review findings
  plugins/aiobotocore-bot/commands/bump-version.md
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/commands/open-pr.md
  plugins/aiobotocore-bot/commands/pyright-delta.md
Due: none

Add narrow eval for /aiobotocore-bot:check-async-need
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_async_need.py
Due: none

evals: add generate_scenarios.py, wire check_async_need.py to read scenarios.yaml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/generate_scenarios.py
Due: none

AI workflows: rename classifier verdicts relax-safe/bump-required → no-port/port-required
  .github/botocore-sync-prompt.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/commands/bump-version.md
  plugins/aiobotocore-bot/commands/check-async-need.md
  plugins/aiobotocore-bot/commands/open-pr.md
  plugins/aiobotocore-bot/commands/review-pr.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/generate_scenarios.py
Due: docs

AI workflows: document test_patches.py scenarios, add check-override-drift
  .github/botocore-sync-prompt.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/README.md
  plugins/aiobotocore-bot/commands/check-override-drift.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: docs

Document minimize-divergence principle for contributors
  CLAUDE.md
  CONTRIBUTING.rst
  docs/override-patterns.md
  plugins/aiobotocore-bot/commands/review-pr.md
Due: docs

evals: add check_override_drift eval + fill ai-workflows narrative gaps
  docs/ai-workflows.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_override_drift.py
  plugins/aiobotocore-bot/evals/drift_scenarios.yaml
Due: docs

evals: add aiobotocore_version correlation to scenarios.yaml
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/generate_scenarios.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

evals: populate scenarios.yaml with drafted rationales, catch historical mislabel
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_async_need.py
  plugins/aiobotocore-bot/evals/generate_scenarios.py
  plugins/aiobotocore-bot/evals/scenarios.yaml
Due: none

AI workflows: incorporate learnings from scenarios.yaml archaeology
  .github/botocore-sync-prompt.md
  CONTRIBUTING.rst
  plugins/aiobotocore-bot/commands/check-async-need.md
Due: docs

evals: add .github/workflows/evals.yml for admin-gated runs
  .github/workflows/evals.yml
  plugins/aiobotocore-bot/evals/README.md
Due: none
