Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Add support for specifying executor in AioConfig for file load events
  CHANGES.rst
  aiobotocore/_helpers.py
  aiobotocore/client.py
  aiobotocore/config.py
  tests/test_config.py
Due: library, changelog, docs, tests

remove python 3.9 support as it's EOL
  .github/workflows/ci-cd.yml
  CHANGES.rst
  README.rst
  pyproject.toml
  tests/test_lambda.py
  uv.lock
Due: configs, changelog, docs, tests

swap to typing-extensions for python 3.10, it's "free" as aiosignal via aiohttp already requires it
  .github/workflows/ci-cd.yml
  aiobotocore/config.py
  pyproject.toml
  uv.lock
Due: library, configs

is this the problem?
  .github/workflows/ci-cd.yml
Due: none

bump
  aiobotocore/__init__.py
Due: library

Relax `botocore` dependency specification (#1449)
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Replace any remaining use of `Config` by `AioConfig`
  aiobotocore/credentials.py
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/test_config.py
Due: library, tests

Implement `client.AioClientCreator.create_client_class()` and `._load_service_model()`
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Implement `loaders.instance_cached()`
  aiobotocore/loaders.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Implement `client.AioClientCreator._load_service_endpoints_ruleset()`
  CHANGES.rst
  aiobotocore/client.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Support passing `socket_factory` as part of `connector_args` in `AioConfig`
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  pyproject.toml
  tests/test_config.py
  uv.lock
Due: library, configs, changelog, docs, tests

revert 3.9 removal
  .github/workflows/ci-cd.yml
  CHANGES.rst
  README.rst
  pyproject.toml
  tests/test_lambda.py
  uv.lock
Due: configs, changelog, docs, tests

add cmt
  .github/workflows/ci-cd.yml
Due: none

swap to union for py3.9
  aiobotocore/config.py
Due: library

swap to optional
  aiobotocore/_helpers.py
Due: library

more optionals and unions
  aiobotocore/config.py
Due: library

and of course this needs to be a thread pool executor
  aiobotocore/_helpers.py
  aiobotocore/config.py
Due: library

Remove outdated comment
  pyproject.toml
Due: configs

Update sphinx from 9.0.4 to 9.1.0
  docs/requirements.txt
Due: docs

Add partial type hints to `AioConfig`
  aiobotocore/config.py
  pyproject.toml
  uv.lock
Due: library, configs

Support passing `socket_factory` as part of `connector_args` in `AioConfig` (#1454)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  pyproject.toml
  tests/test_config.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Replace any remaining use of `Config` by `AioConfig` (#1453)
  aiobotocore/credentials.py
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/test_config.py
Due: library, tests

Relax `botocore` dependency specification (#1461)
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

resolve merge issues
  CHANGES.rst
  aiobotocore/config.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

review comments
  aiobotocore/_helpers.py
  aiobotocore/client.py
  aiobotocore/config.py
  tests/test_config.py
  uv.lock
Due: library, tests

refactor imports
  aiobotocore/_types.py
  aiobotocore/args.py
  aiobotocore/config.py
  aiobotocore/endpoint.py
Due: library

Support warm-up of loader caches
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/session.py
  tests/test_config.py
  tests/test_session.py
Due: library, changelog, docs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies
  uv.lock
Due: none

Bump docs dependency
  docs/requirements.txt
Due: docs

Pin remaining GitHub actions
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  .github/workflows/stale.yml
Due: none

Pin remaining GitHub actions (#1468)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  .github/workflows/stale.yml
Due: none

Bump dev and docs dependencies (#1463)
  .pre-commit-config.yaml
  docs/requirements.txt
  uv.lock
Due: docs

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification (#1466)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
