Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

add check for threaded calls
  tests/helpers.py
  tests/test_basic_s3.py
Due: tests

aioboto exceptions
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/exceptions.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

fix str'ification
  aiobotocore/exceptions.py
Due: library

feat: add a non-blocking implementation of the adaptive retry strategy
  aiobotocore/client.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/bucket.py
Due: library

add digests for "overriden" methods to test_patches
  tests/test_patches.py
Due: tests

add test for adaptive retry strategy
  pytest.ini
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

add tests for AsyncClientRateLimiter and AsyncTokenBucket
  tests/test_adaptive.py
Due: tests

update CHANGES and init to 2.1.1
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

feat: add a non-blocking implementation of the adaptive retry strategy (#914)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/bucket.py
  pytest.ini
  tests/conftest.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump
  CHANGES.rst
Due: changelog, docs

Add types-aiobotocore info to README
  README.rst
Due: docs

Fix code samples
  README.rst
Due: docs

Fix links
  README.rst
Due: docs

Fix links 2
  README.rst
Due: docs

Add links to type checkers
  README.rst
Due: docs

fix tests: changed random bucket name to full lowercase to match new AWS specifications
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

Add types-aiobotocore info to README (#918)
  README.rst
Due: docs

fix tests: changed random bucket name to full lowercase to match new AWS specifications (#919)
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

fix calling close when there is no session #922
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

fix calling close when there is no session #922 (#923)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

bump
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/config.py
  aiobotocore/configprovider.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  aiobotocore/session.py
  aiobotocore/utils.py
  setup.py
  tests/test_basic_s3.py
  tests/test_patches.py
  tests/test_session.py
  tests/test_version.py
Due: library, changelog, docs, tests

in botocore this goes under ProtocolError
  CHANGES.rst
  aiobotocore/httpsession.py
Due: library, changelog, docs

add missing await
  aiobotocore/session.py
Due: library

bump to botocore 1.24.21 (#926)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/config.py
  aiobotocore/configprovider.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  aiobotocore/session.py
  aiobotocore/utils.py
  setup.py
  tests/test_basic_s3.py
  tests/test_patches.py
  tests/test_session.py
  tests/test_version.py
Due: library, changelog, docs, tests

Fix types-aiobotocore documentation links
  README.rst
Due: docs

disable test for now
  tests/test_basic_s3.py
Due: tests

Fix types-aiobotocore documentation links (#930)
  README.rst
Due: docs

speify encoding for IMDS responses
  aiobotocore/utils.py
  tests/botocore/test_utils.py
Due: library, tests

unit test: encoding param optional
  tests/botocore/test_utils.py
Due: tests

Allow keepalive_timeout to be None
  aiobotocore/config.py
  tests/test_config.py
Due: library, tests

Add changelog for keepalive_timeout None
  CHANGES.rst
Due: changelog, docs

work on awsresponse + awsrequest
  aiobotocore/awsrequest.py
  aiobotocore/httpsession.py
  aiobotocore/utils.py
Due: library

more work
  aiobotocore/awsrequest.py
  aiobotocore/endpoint.py
  aiobotocore/utils.py
  tests/test_patches.py
Due: library, tests

make most of other calls async
  aiobotocore/awsrequest.py
  aiobotocore/endpoint.py
  aiobotocore/handlers.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  aiobotocore/response.py
  aiobotocore/session.py
  aiobotocore/utils.py
  tests/test_patches.py
Due: library, tests

add support for RetryDDBChecksumError.is_retryable
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/_helpers.py
  aiobotocore/client.py
  aiobotocore/retries/special.py
  aiobotocore/retries/standard.py
  aiobotocore/utils.py
  tests/test_patches.py
Due: library, changelog, docs, tests

add support for CRC32Checker._check_response
  aiobotocore/client.py
  aiobotocore/hooks.py
  aiobotocore/retryhandler.py
  aiobotocore/session.py
  tests/test_patches.py
Due: library, tests

fix most tests
  CHANGES.rst
  aiobotocore/_endpoint_helpers.py
  aiobotocore/endpoint.py
  aiobotocore/hooks.py
  aiobotocore/httpsession.py
  aiobotocore/response.py
  aiobotocore/session.py
  aiobotocore/utils.py
  tests/botocore/test_utils.py
  tests/test_patches.py
  tests/test_response.py
Due: library, changelog, docs, tests

fix more tests
  tests/botocore/test_utils.py
Due: tests

fix tests
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
  tests/botocore/test_credentials.py
  tests/botocore/test_utils.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

fix rest of tests
  aiobotocore/awsrequest.py
  tests/botocore/test_utils.py
  tests/test_response.py
Due: library, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
