Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

fix retries and refactor httpsession (#877)
  CHANGES.rst
  README.rst
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/waiter.py
  docs/index.rst
  docs/tutorial.rst
  examples/dynamodb_batch_write.py
  examples/dynamodb_create_table.py
  examples/simple.py
  examples/sqs_queue_consumer.py
  examples/sqs_queue_create.py
  examples/sqs_queue_producer.py
  setup.py
  tests/botocore/test_signers.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_patches.py
  tests/test_session.py
  tests/test_version.py
Due: library, changelog, docs, tests

Use poetry to manage the project
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  .pyup.yml
  CONTRIBUTING.rst
  Makefile
  Pipfile
  poetry.lock
  pyproject.toml
  setup.py
Due: configs, docs

Use poetry to manage the project
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  .pyup.yml
  CONTRIBUTING.rst
  Makefile
  Pipfile
  README.rst
  poetry.lock
  pyproject.toml
  setup.py
Due: configs, docs

fix import
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  tests/test_session.py
Due: library, changelog, docs, tests

fix import
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  tests/test_basic_s3.py
  tests/test_session.py
Due: library, tests

update readme
  CHANGES.rst
  tests/test_session.py
Due: changelog, docs, tests

add backwards compatibility (#881)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  tests/test_basic_s3.py
  tests/test_session.py
Due: library, changelog, docs, tests

match current pinned versions frozen in airflow_etl
  setup.py
Due: none

Fixed pipfile and missing close() on httpsession
  Pipfile
  aiobotocore/httpsession.py
Due: library

Updated changes
  CHANGES.rst
Due: changelog, docs

- fix verify=False - fix httpsession.close
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  tests/conftest.py
  tests/test_basic_s3.py
Due: library, changelog, docs, tests

fix verify=False + httpsession.close (#888)
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
  tests/conftest.py
  tests/test_basic_s3.py
Due: library, changelog, docs, tests

bump aiobotocore to 1.22.8
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/paginate.py
  aiobotocore/waiter.py
  setup.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

add new python versions
  setup.py
Due: none

add tests for 3.9 + 3.10
  .github/workflows/python-package.yml
Due: none

remove 3.10 for now due to strange parsing issue
  .github/workflows/python-package.yml
Due: none

bump to beta :)
  setup.py
Due: none

put this back
  aiobotocore/httpsession.py
Due: library

bump to botocore 1.22.8 (#894)
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/credentials.py
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
  aiobotocore/paginate.py
  aiobotocore/waiter.py
  setup.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

remove invalid entry
  setup.py
Due: none

Support customizing the aiohttp connector resolver class.
  aiobotocore/config.py
  tests/test_config.py
Due: library, tests

fix #902
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/discovery.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Support customizing the aiohttp connector resolver class. (#893)
  aiobotocore/config.py
  tests/test_config.py
Due: library, tests

add change from orf
  CHANGES.rst
Due: changelog, docs

revert accidental dupe of _register_s3_events (#867)
  aiobotocore/client.py
Due: library

fix timeseries (#903)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/discovery.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Enforce passing in an instance of the aiohttp resolver, not a class
  aiobotocore/config.py
  tests/test_config.py
Due: library, tests

bump
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/response.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Enforce passing in an instance of the aiohttp resolver, not a class (#906)
  aiobotocore/config.py
  tests/test_config.py
Due: library, tests

add change
  CHANGES.rst
Due: changelog, docs

bump botocore to 1.23.24 (#909)
  CHANGES.rst
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/response.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

docs examples re-organisation
  docs/examples.rst
  docs/examples/dynamo_db/insertions.rst
  docs/examples/dynamo_db/tables.rst
  docs/examples/s3/basic_usage.rst
  docs/examples/sqs/producer_consumer.rst
  docs/examples/sqs/queue.rst
  docs/index.rst
Due: docs

update footer year
  docs/conf.py
Due: docs

Re-organise docs examples (#810)
  docs/conf.py
  docs/examples.rst
  docs/examples/dynamo_db/insertions.rst
  docs/examples/dynamo_db/tables.rst
  docs/examples/s3/basic_usage.rst
  docs/examples/sqs/producer_consumer.rst
  docs/examples/sqs/queue.rst
  docs/index.rst
Due: docs

remove deplorecated ssl_context field from connector args
  aiobotocore/config.py
  aiobotocore/httpsession.py
  tests/test_config.py
Due: library, tests

update changes.rst
  CHANGES.rst
Due: changelog, docs

add adaptive retry test (does not ensure thread locks aren't held yet)
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
