Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

ci: stream the porting agent's tool calls into the eval log
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

ci: let evals with different inputs run in parallel
  .github/workflows/evals.yml
Due: none

fix: match production classifier input and count agent errors in the porting eval
  plugins/aiobotocore-bot/evals/check_porting.py
Due: none

test: cover the porting eval's new-file metrics and agent stream handling
  plugins/aiobotocore-bot/evals/check_porting.py
  tests/evals/test_check_porting.py
Due: tests

feat(evals): add a porting-stage eval that replays historical ports (#1757)
  .github/botocore-sync-prompt.md
  .github/claude-code/package-lock.json
  .github/claude-code/package.json
  .github/workflows/evals.yml
  CLAUDE.md
  plugins/aiobotocore-bot/evals/README.md
  plugins/aiobotocore-bot/evals/check_porting.py
  tests/evals/test_check_porting.py
Due: docs, tests

ci: mirror non-async botocore changes in the sync
  .github/botocore-sync-prompt.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
Due: docs

ci: validate mirrored no-port syncs like ports and surface their changes
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
Due: none

ci: mirror in the dirty-branch no-port path and fix the reviewer's claim check
  .github/botocore-sync-prompt.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
Due: none

style: wrap the review-pr claim-check paragraph to the markdown line limit
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
Due: none

ci: keep a no-port sync's draft handoff on the no-port path
  .github/botocore-sync-prompt.md
Due: none

fix: address Code Quality and zizmor findings in aiobotocore's own code
  .github/usage-summary.py
  .github/workflows/ci-cd.yml
  .github/workflows/claude.yml
  aiobotocore/credentials.py
  aiobotocore/retries/bucket.py
  examples/sqs_queue_producer.py
  tests/mock_server.py
  tests/test_basic_s3.py
  tests/test_response.py
Due: library, tests

ci: pass a resumed no-port draft's saved async-need summary to open-pr
  .github/botocore-sync-prompt.md
Due: none

fix: base the release bump on shipped changes, not title prefixes alone
  CLAUDE.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: docs

chore(release): prepare 3.9.2 instead of 3.10.0
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

fix: address Code Quality and zizmor findings in aiobotocore's own code (#1762)
  .github/usage-summary.py
  .github/workflows/ci-cd.yml
  .github/workflows/claude.yml
  aiobotocore/credentials.py
  aiobotocore/retries/bucket.py
  examples/sqs_queue_producer.py
  tests/mock_server.py
  tests/test_basic_s3.py
  tests/test_response.py
Due: library, tests

docs: say why sdist-only files don't raise the release bump
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: none

ci: mirror non-async botocore changes in the sync; base release bumps on shipped changes (#1760)
  .github/botocore-sync-prompt.md
  CLAUDE.md
  docs/ai-workflows.md
  plugins/aiobotocore-bot/skills/check-async-need/SKILL.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
  plugins/aiobotocore-bot/skills/open-pr/SKILL.md
  plugins/aiobotocore-bot/skills/review-pr/SKILL.md
Due: docs

test: skip the httpx event stream adapter test when httpx is absent
  tests/test_eventstreams.py
Due: tests

fix: adapt event stream outputs for the httpx backend
  aiobotocore/endpoint.py
  aiobotocore/response.py
  tests/test_eventstreams.py
Due: library, tests

ci: skip test matrix for docs-only pull requests
  .github/workflows/ci-cd.yml
Due: none

fix: make changes job robust and fix allowed-skips logic
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
