Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

  notify:
    manual_trigger: true  # prevent notifications until we notify Codecov

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

fix(draft-release): scope the release branch per run attempt
  .github/workflows/draft-release.yml
  CLAUDE.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: docs

fix(draft-release): commit to the release branch, not main (#1662)
  .github/workflows/draft-release.yml
  CLAUDE.md
  plugins/aiobotocore-bot/skills/draft-release/SKILL.md
Due: docs

fix(draft-release): fail when the agent never runs
  .github/workflows/draft-release.yml
Due: none

fix(draft-release): fail when the agent never runs (#1664)
  .github/workflows/draft-release.yml
Due: none

ci: run pre-commit once instead of in every test matrix job
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
Due: none

feat: run the httpx backend on trio
  aiobotocore/_tee.py
  aiobotocore/endpoint.py
  aiobotocore/httpxsession.py
  aiobotocore/paginate.py
  aiobotocore/response.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/bucket.py
  aiobotocore/session.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/botocore_tests/conftest.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_config.py
  tests/test_credentials.py
  tests/test_httpsession.py
  tests/test_session.py
  tests/test_stubber.py
  uv.lock
Due: library, configs, tests

Potential fix for pull request finding
  aiobotocore/httpxsession.py
Due: library

fix: run IMDS lookups on the configured http backend
  aiobotocore/client.py
  aiobotocore/config.py
  aiobotocore/credentials.py
  aiobotocore/paginate.py
  aiobotocore/session.py
  aiobotocore/utils.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_endpoint.py
  tests/test_plugin_context.py
Due: library, tests

fix: fail loudly when a cancelled tee consumer kills the source
  aiobotocore/_tee.py
Due: library

fix: translate httpx mid-body disconnects, and wait for a real reply in AIOServer
  aiobotocore/response.py
  tests/mock_server.py
  tests/test_tee.py
Due: library, tests

fix: rebuild IMDS components when a client switches http backend
  aiobotocore/config.py
  aiobotocore/credentials.py
  aiobotocore/endpoint.py
  aiobotocore/httpxsession.py
  aiobotocore/session.py
  tests/test_config.py
  tests/test_credentials.py
  tests/test_session.py
Due: library, tests

test: cover the httpx streaming, ref count and server handshake paths
  tests/mock_server.py
  tests/test_mock_server.py
  tests/test_response.py
  tests/test_utils.py
Due: tests

Potential fix for pull request finding
  aiobotocore/_tee.py
Due: library

refactor: express the vendored tee as an AsyncIterator class
  aiobotocore/_tee.py
  tests/test_tee.py
Due: library, tests

Delete tests/botocore_tests/conftest.py
  tests/botocore_tests/conftest.py
Due: tests

use subclassing rather than passing for sleep function
  aiobotocore/utils.py
Due: library

test: replace IsolatedAsyncioTestCase with pytest anyio style
  tests/botocore_tests/unit/retries/test_standard_retry_v2_1.py
  tests/botocore_tests/unit/test_utils.py
Due: tests

skip trio on aiohttp tests as apposed to not including trio unless httpx is present
  tests/conftest.py
Due: tests

get test coverage on _tee
  tests/test_tee.py
Due: tests

test: select container fetcher class by http backend
  tests/botocore_tests/unit/test_utils.py
  tests/test_credentials.py
Due: tests

fix remaining tests
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_utils.py
  tests/conftest.py
  tests/test_waiter.py
Due: library, tests

pre-commit
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_session.py
  tests/conftest.py
Due: library, tests

create_client correctly
  tests/botocore_tests/unit/test_credentials.py
Due: tests

use an enum to specify which async primatives to use
  aiobotocore/_async_primitives.py
  aiobotocore/credentials.py
  aiobotocore/session.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_session.py
  tests/conftest.py
  tests/test_configprovider.py
  tests/test_plugin_context.py
  tests/test_session.py
Due: library, tests

Apply suggestion from @graingert
  aiobotocore/session.py
Due: library

fix awscrt test
  tests/botocore_tests/unit/test_credentials.py
Due: tests

run httpx and aiohttp in botocore_tests
  tests/conftest.py
Due: tests

feat: add proxy support to the httpx backend
  aiobotocore/httpxsession.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_httpsession.py
Due: library, tests

fix bad Mock().calls lookup
  tests/botocore_tests/unit/test_utils.py
Due: tests

test: only parametrize backend-dependent tests over aiohttp and httpx
  tests/conftest.py
Due: tests

fix current_http_backend
  tests/conftest.py
Due: tests

fix: send a valid CONNECT authority for proxied httpx https requests
  aiobotocore/httpxsession.py
  pyproject.toml
  tests/test_proxy.py
  uv.lock
Due: library, configs, tests

test: skip aiohttp https-proxy TLS-in-TLS test on Python < 3.11
  tests/test_proxy.py
Due: tests

fixes from copilot
  aiobotocore/credentials.py
  tests/botocore_tests/unit/test_credentials.py
Due: library, tests

cover subprocess calls
  tests/botocore_tests/unit/test_credentials.py
Due: tests

make sure httpx isn't installed in the no-httpx test suite
  .github/workflows/evals.yml
  .github/workflows/reusable-test.yml
  pyproject.toml
  uv.lock
Due: configs

importorskip("httpx") on relevant tests
  tests/evals/test_common.py
  tests/test_config.py
  tests/test_credentials.py
  tests/test_session.py
  tests/test_utils.py
Due: tests

run evals in a dedicated test runner
  .github/workflows/reusable-test.yml
  pyproject.toml
  uv.lock
Due: configs

cover more of httpxsession
  aiobotocore/httpxsession.py
  tests/test_proxy.py
Due: library, tests

fix: fail loudly on an unknown http session type
  aiobotocore/client.py
  aiobotocore/retries/adaptive.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/test_adaptive.py
  tests/test_client.py
  tests/test_waiter.py
  uv.lock
Due: library, configs, tests
