Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

  notify:
    manual_trigger: true  # prevent notifications until we notify Codecov

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

Increase yamllint line-length to 120, remove disable comments
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .yamllint
Due: none

Fix bare clone detection: check HEAD not .git
  .github/workflows/botocore-sync.yml
Due: none

Add informative run-name to Claude workflow
  .github/workflows/claude.yml
Due: none

Fix yamllint on run-name line
  .github/workflows/claude.yml
Due: none

Format run-name with folded scalar, no yamllint disable needed
  .github/workflows/claude.yml
Due: none

Update CLAUDE.md: yamllint line-length is now 120
  CLAUDE.md
Due: docs

Add explicit pre-commit check instruction to sync prompt
  .github/botocore-sync-prompt.md
Due: none

Cache botocore repo, git hints, yamllint 120, pre-commit checks (#1519)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .yamllint
  CLAUDE.md
Due: docs

Fix template var substitution, add MCP fallback hint
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

Remove stale `debug` fixture
  tests/conftest.py
Due: tests

Exclude fixtures and helpers used only by `localonly` tests from coverage
  tests/conftest.py
Due: tests

Exclude rarely hit statement from coverage
  tests/conftest.py
Due: tests

Fix typo
  tests/conftest.py
Due: tests

Remove support for `PYCHARM_HOSTED` env variable from `conftest.py`
  tests/conftest.py
Due: tests

Remove stale `tempdir` fixture
  tests/conftest.py
Due: tests

Fix `assert_num_uploads_found()` in `coverage.py`
  tests/conftest.py
Due: tests

Clean up `conftest.py` (#1513)
  tests/conftest.py
Due: tests

Leverage `Path.read_text()` in `test_release_versions()`
  tests/test_version.py
Due: tests

Remove stale dependency specification validation from `test_release_versions()`
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, tests

Clean up `test_version.py` (#1509)
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, tests

Relax required version of `uv`
  pyproject.toml
Due: configs

Bump dev dependencies
  uv.lock
Due: none

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump development dependencies (#1528)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Remove superfluous yamllint suppresions
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
Due: none

Remove superfluous yamllint suppresions (#1529)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
Due: none

update botocore dependency version
  pyproject.toml
Due: configs

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/args.py
  pyproject.toml
  tests/botocore_tests/unit/test_args.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification (#1534)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/botocore_tests/unit/test_args.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Remove boto3 dependency and sync prompt references
  .github/botocore-sync-prompt.md
  pyproject.toml
  uv.lock
Due: configs

Fix envsubst var list, add boto3 dep, add workflows permission
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
  pyproject.toml
  uv.lock
Due: configs

Fix pre-commit: remove invalid workflows permission, fix line length
  .github/workflows/botocore-sync.yml
Due: none

Fix sync prompt template vars, add MCP commit fallback (#1523)
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

Fix Claude bot failing on issue comments by disambiguating PR vs issue number
  .github/claude-review-prompt.md
Due: none

Rename PR_NUMBER to NUMBER in workflow env and prompt template
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Fix Claude bot failing on issue comments (#1536)
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none
