Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

fix flake
  aiobotocore/httpchecksum.py
  aiobotocore/retries/standard.py
  aiobotocore/utils.py
  tests/botocore/test_utils.py
  tests/test_patches.py
Due: library, tests

fix LGTM and unnecessary sync session creation
  aiobotocore/httpsession.py
  aiobotocore/retries/standard.py
  aiobotocore/utils.py
  tests/test_patches.py
Due: library, tests

fix copy/paste
  aiobotocore/utils.py
Due: library

AioAWSResponse and AioAWSRequest (#934)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/_endpoint_helpers.py
  aiobotocore/_helpers.py
  aiobotocore/awsrequest.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/handlers.py
  aiobotocore/hooks.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  aiobotocore/response.py
  aiobotocore/retries/special.py
  aiobotocore/retries/standard.py
  aiobotocore/retryhandler.py
  aiobotocore/session.py
  aiobotocore/utils.py
  tests/botocore/test_credentials.py
  tests/botocore/test_utils.py
  tests/test_basic_s3.py
  tests/test_patches.py
  tests/test_response.py
Due: library, changelog, docs, tests

add back support for 3.6 via conditional requirement
  .github/workflows/python-package.yml
  setup.py
  tests/botocore/test_credentials.py
Due: tests

bump
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

pull in changes from #933
  CHANGES.rst
  aiobotocore/config.py
  tests/test_config.py
Due: library, changelog, docs, tests

fix 3.6 support and allow keepalive_timeout to be None (#935)
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  setup.py
  tests/botocore/test_credentials.py
  tests/test_config.py
Due: library, changelog, docs, tests

tweaks
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

disable for now
  .github/workflows/python-package.yml
Due: none

try python instead of python3
  Makefile
Due: none

another attempt
  .github/workflows/python-package.yml
Due: none

another attempt <sigh>
  .github/workflows/python-package.yml
Due: none

skip these on python < 3.8
  tests/test_eventstreams.py
Due: tests

a little insanity lol
  tests/test_eventstreams.py
Due: tests

fix imports for 3.6
  Pipfile
  aiobotocore/_helpers.py
  aiobotocore/utils.py
  tests/_helpers.py
  tests/botocore/helpers.py
  tests/botocore/test_credentials.py
  tests/botocore/test_utils.py
  tests/conftest.py
  tests/test_eventstreams.py
Due: library, tests

fix flake
  CHANGES.rst
  aiobotocore/_helpers.py
  tests/_helpers.py
Due: library, changelog, docs, tests

another
  aiobotocore/_helpers.py
Due: library

add py3.8+ specific test folder and infra
  tests/__init__.py
  tests/conftest.py
  tests/python3.8/__init__.py
  tests/python3.8/test_eventstreams.py
  tests/test_config.py
  tests/test_eventstreams.py
Due: tests

flake
  tests/python3.8/test_eventstreams.py
  tests/test_eventstreams.py
Due: tests

finally get all tests passing on 3.6 + 3.8
  .github/workflows/python-package.yml
  aiobotocore/_helpers.py
  aiobotocore/waiter.py
  tests/_helpers.py
  tests/boto_tests/__init__.py
  tests/boto_tests/helpers.py
  tests/boto_tests/test_credentials.py
  tests/boto_tests/test_signers.py
  tests/boto_tests/test_utils.py
  tests/python3.8/boto_tests/__init__.py
  tests/python3.8/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/python3.8/boto_tests/test_utils.py
Due: library, tests

flake fixes
  .flake8
  tests/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
Due: tests

fix 3.6 support (#936)
  .flake8
  .github/workflows/python-package.yml
  CHANGES.rst
  Makefile
  Pipfile
  aiobotocore/__init__.py
  aiobotocore/_helpers.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
  tests/__init__.py
  tests/_helpers.py
  tests/boto_tests/__init__.py
  tests/boto_tests/helpers.py
  tests/boto_tests/test_credentials.py
  tests/boto_tests/test_signers.py
  tests/boto_tests/test_utils.py
  tests/conftest.py
  tests/python3.8/__init__.py
  tests/python3.8/boto_tests/__init__.py
  tests/python3.8/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/python3.8/boto_tests/test_utils.py
  tests/python3.8/test_eventstreams.py
  tests/test_config.py
  tests/test_eventstreams.py
Due: library, changelog, docs, tests

fix Test files appearing in distribution package #937
  CHANGES.rst
  setup.py
Due: changelog, docs

bump release version to 2.3.3
  aiobotocore/__init__.py
Due: library

fix Test files appearing in distribution package #937 (#938)
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

fix connect timeout while getting IAM creds in Docker `aiohttp.ServerTimeoutError` should be mapped to `ReadTimeoutError`, not `ConnectTimeoutError` (#941)
  aiobotocore/httpsession.py
  aiobotocore/utils.py
Due: library

Differentiate between connect and read timeout errors from aiohttp
  aiobotocore/httpsession.py
Due: library

Bump version number to 2.3.4
  aiobotocore/__init__.py
Due: library

fix connect timeout while getting IAM creds in Docker (#941)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

bump
  CHANGES.rst
Due: changelog, docs

next is actually 2.3.3
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

fix event response iter
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/eventstream.py
Due: library, changelog, docs

try to add wheel support
  .github/workflows/python-package.yml
Due: none

fix test
  tests/test_eventstreams.py
Due: tests

fix event response iter (#946)
  .github/workflows/python-package.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/eventstream.py
  tests/test_eventstreams.py
Due: library, changelog, docs, tests

.
  .github/workflows/python-package.yml
Due: none

fix package wheels (#949)
  .github/workflows/python-package.yml
Due: none

Configure codestyle to match botocore
  .flake8
  .pre-commit-config.yaml
  Pipfile
  pyproject.toml
Due: configs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
