Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

remove GitHub Actions workflow `pre-commit`
  .github/workflows/pre-commit.yml
Due: none

improve structure of requirements-dev.in
  requirements-dev.in
Due: none

fix typo in CI/CI workflow
  .github/workflows/ci-cd.yml
Due: none

remove time statements from CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

remove unnecessary statement in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

remove legacy `codecov` dev dependency
  .github/workflows/ci-cd.yml
  requirements-dev.in
Due: none

remove legacy version constraint for aiohttp in CI/CD workflow
  .github/workflows/ci-cd.yml
  requirements-dev.in
Due: none

extract editable install from `requirements-dev.in`
  .github/workflows/ci-cd.yml
  .gitignore
  CONTRIBUTING.rst
  README.rst
  requirements-dev.in
Due: configs, docs

relax `botocore` dependency specification (#1191)
  CHANGES.rst
  pyproject.toml
Due: configs, changelog, docs

relax `setuptools` build dependency specification (#1193)
  pyproject.toml
Due: configs

load i/o methods in executor
  aiobotocore/client.py
  aiobotocore/session.py
Due: library

set setuptools packages find configuration (#1197)
  pyproject.toml
Due: configs

relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
Due: library, configs, changelog, docs

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/endpoint.py
  pyproject.toml
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

declare support for Python 3.13
  pyproject.toml
Due: configs

bump botocore dependencies
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
Due: library, configs, changelog, docs

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Update __init__.py
  aiobotocore/__init__.py
Due: library

Update pyproject.toml
  pyproject.toml
Due: configs

Revert "Bump codecov/codecov-action from 4.5.0 to 4.6.0"
  .github/workflows/ci-cd.yml
Due: none

Update sphinx from 8.0.2 to 8.1.0
  docs/requirements.txt
Due: docs

Update sphinx from 8.0.2 to 8.1.1
  docs/requirements.txt
Due: docs

Update sphinx from 8.0.2 to 8.1.2
  docs/requirements.txt
Due: docs

Update sphinx from 8.0.2 to 8.1.3
  docs/requirements.txt
Due: docs

delete stale for now until we have more resources
  .github/workflows/stale.yml
Due: none

reduce noisiness of `pre-commit.ci` autoupdates
  .pre-commit-config.yaml
Due: none

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/handlers.py
  aiobotocore/hooks.py
  pyproject.toml
  tests/test_patches.py
Due: library, configs, changelog, docs, tests

bump `botocore` dependency specification
  aiobotocore/utils.py
  pyproject.toml
  tests/test_patches.py
Due: library, configs, tests

bump `botocore` dependency specification
  aiobotocore/hooks.py
  aiobotocore/signers.py
  pyproject.toml
  tests/test_patches.py
Due: library, configs, tests

re-org tests to match botocore, pull in eventstream tests, inverse the test selection, and ensure pytest-asyncio is in auto mode
  Makefile
  pyproject.toml
  tests/boto_tests/unit/test_credentials.py
  tests/boto_tests/unit/test_eventstream.py
  tests/boto_tests/unit/test_signers.py
  tests/boto_tests/unit/test_utils.py
  tests/python3.8/boto_tests/unit/__init__.py
  tests/python3.8/boto_tests/unit/test_credentials.py
  tests/python3.8/boto_tests/unit/test_signers.py
  tests/python3.8/boto_tests/unit/test_tokens.py
  tests/python3.8/boto_tests/unit/test_utils.py
  tests/python3.8/test_eventstreams.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_batch.py
  tests/test_client.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_dynamodb.py
  tests/test_ec2.py
  tests/test_endpoint.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_monitor.py
  tests/test_mturk.py
  tests/test_patches.py
  tests/test_response.py
  tests/test_session.py
  tests/test_sns.py
  tests/test_sqs.py
  tests/test_stubber.py
  tests/test_version.py
  tests/test_waiter.py
Due: configs, tests

leverage pytest-asyncio test discovery mode auto
  tests/boto_tests/test_credentials.py
  tests/boto_tests/test_signers.py
  tests/boto_tests/test_utils.py
  tests/python3.8/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/python3.8/boto_tests/test_tokens.py
  tests/python3.8/boto_tests/test_utils.py
  tests/python3.8/test_eventstreams.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_batch.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_dynamodb.py
  tests/test_ec2.py
  tests/test_endpoint.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_monitor.py
  tests/test_mturk.py
  tests/test_response.py
  tests/test_session.py
  tests/test_sns.py
  tests/test_sqs.py
  tests/test_stubber.py
  tests/test_waiter.py
Due: tests

reorganize tests to match botocore
  tests/boto_tests/unit/__init__.py
  tests/boto_tests/unit/test_credentials.py
  tests/boto_tests/unit/test_signers.py
  tests/boto_tests/unit/test_utils.py
  tests/python3.8/boto_tests/unit/__init__.py
  tests/python3.8/boto_tests/unit/test_credentials.py
  tests/python3.8/boto_tests/unit/test_signers.py
  tests/python3.8/boto_tests/unit/test_tokens.py
  tests/python3.8/boto_tests/unit/test_utils.py
Due: tests

fix assertions in `test_adaptive.py`
  tests/test_adaptive.py
Due: tests

inverse test selection
  Makefile
  pyproject.toml
  tests/boto_tests/unit/test_credentials.py
  tests/boto_tests/unit/test_signers.py
  tests/boto_tests/unit/test_utils.py
  tests/python3.8/boto_tests/unit/test_credentials.py
  tests/python3.8/boto_tests/unit/test_signers.py
  tests/python3.8/boto_tests/unit/test_tokens.py
  tests/python3.8/boto_tests/unit/test_utils.py
  tests/python3.8/test_eventstreams.py
  tests/test_basic_s3.py
  tests/test_batch.py
  tests/test_client.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_dynamodb.py
  tests/test_ec2.py
  tests/test_endpoint.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_monitor.py
  tests/test_mturk.py
  tests/test_patches.py
  tests/test_response.py
  tests/test_session.py
  tests/test_sns.py
  tests/test_sqs.py
  tests/test_stubber.py
  tests/test_version.py
  tests/test_waiter.py
Due: configs, tests

resolve PytestDeprecationWarning
  tests/test_dynamodb.py
Due: tests

include `test_eventstream.py` from botocore
  tests/boto_tests/unit/test_eventstream.py
Due: tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
