Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

relax botocore dependency specification
  CHANGES.rst
  setup.py
Due: changelog, docs

increase MotoService start timeout
  tests/moto_server.py
Due: tests

increase MotoService start timeout (#1053)
  tests/moto_server.py
Due: tests

relax botocore dependency specification (#1048)
  CHANGES.rst
  setup.py
Due: changelog, docs

bump botocore dependency specification
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/utils.py
  requirements-dev.in
  setup.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump botocore dependency specification
  CHANGES.rst
  aiobotocore/credentials.py
  aiobotocore/utils.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Support up-to-date `botocore` (#1057)
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/utils.py
  requirements-dev.in
  setup.py
  tests/test_basic_s3.py
  tests/test_patches.py
Due: library, changelog, docs, tests

get_object example
  examples/simple.py
Due: none

review changes
  examples/simple.py
Due: none

formatting
  examples/simple.py
Due: none

New example of `get_object` (#1062)
  examples/simple.py
Due: none

bump botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/signers.py
  aiobotocore/utils.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump botocore dependency specification
  .pre-commit-config.yaml
  CHANGES.rst
  setup.py
Due: changelog, docs

Support up-to-date `botocore` (#1063)
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/signers.py
  aiobotocore/utils.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

async lru-cache and some clean-up
  .github/workflows/python-package.yml
  Makefile
  aiobotocore/utils.py
  build_and_sync_requirements.sh
  install-requires.txt
  pyproject.toml
  requirements-dev.in
  setup.py
Due: library, configs, docs

fix race condition in S3 Express identity cache (closes #1072)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
Due: library, changelog, docs

updates based on review
  aiobotocore/utils.py
  build_and_sync_requirements.sh
  install-requires.txt
  setup.py
Due: library, docs

add comment
  build_and_sync_requirements.sh
Due: none

update docs
  CONTRIBUTING.rst
  README.rst
Due: docs

fix race condition in S3 Express identity cache (closes #1072) (#1073)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
Due: library, changelog, docs

relax botocore dependency specification
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

relax botocore dependency specification (#1069)
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

send project-specific `User-Agent` HTTP header #853
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/session.py
  tests/test_session.py
Due: library, changelog, docs, tests

send project-specific `User-Agent` HTTP header #853 (#1075)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/session.py
  tests/test_session.py
Due: library, changelog, docs, tests

relax botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

Update __init__.py
  aiobotocore/__init__.py
Due: library

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Support up-to-date `botocore` (#1079)
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

relax botocore dependency specification (#1087)
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

bump botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump date
  CHANGES.rst
Due: changelog, docs

Support up-to-date `botocore` (#1091)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

Fix RTD
  .readthedocs.yml
  readthedocs.yml
Due: configs

Update .readthedocs.yml
  .readthedocs.yml
Due: configs

Upgrade to more recent Sphinx
  docs/conf.py
  docs/examples/s3/basic_usage.rst
  docs/requirements.txt
Due: docs

Remove unused code
  docs/conf.py
Due: docs

Fix RTD (#1094)
  .readthedocs.yml
  docs/conf.py
  docs/examples/s3/basic_usage.rst
  docs/requirements.txt
  readthedocs.yml
Due: configs, docs

Update sphinx from 5.3.0 to 7.2.6
  docs/requirements.txt
Due: docs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
