Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

convert iterables to async iterables instead of reading data in send
  aiobotocore/httpxsession.py
  tests/conftest.py
Due: library, tests

Update botocore to 1.37.4
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/context.py
  aiobotocore/session.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/test_context.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

use wait_for_close instead of close in StreamingBody
  aiobotocore/response.py
Due: library

handle timeouts better, clean up comments
  aiobotocore/config.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  aiobotocore/response.py
Due: library

Fix documentation of minimum supported Python version (#1356)
  README.rst
Due: docs

Bumped botocore and boto3 to 1.38.23
  CHANGES.rst
  aiobotocore/client.py
  aiobotocore/context.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/response.py
  aiobotocore/session.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_eventstreams.py
  tests/test_patches.py
  tests/test_response.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bumped botocore and boto3 to 1.38.23 (#1362)
  CHANGES.rst
  aiobotocore/client.py
  aiobotocore/context.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/response.py
  aiobotocore/session.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_eventstreams.py
  tests/test_patches.py
  tests/test_response.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies
  pyproject.toml
  uv.lock
Due: configs

Make the `experimental` matrix factor explicitly set to `false`
  .github/workflows/ci-cd.yml
Due: none

Bump `zizmor` reusable workflow
  .github/workflows/ci-cd.yml
Due: none

Bump pre-commit hooks, development dependencies and reusable workflow (#1363)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Stop referencing the `upload-coverage` flag in expressions
  .github/workflows/ci-cd.yml
Due: none

dont use matrix for conditional variables in CI (#1357)
  .github/workflows/ci-cd.yml
Due: none

Upload coverage for entire CI matrix
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Due: none

unbreak to_async_iterable. Add entry to changes.rst
  CHANGES.rst
  aiobotocore/httpchecksum.py
  aiobotocore/httpxsession.py
Due: library, changelog, docs

Upload coverage for entire CI matrix (#1367)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Due: none

unununbreak to_async_iterable
  aiobotocore/httpxsession.py
Due: library

Add Python 3.14 to test matrix
  .github/workflows/ci-cd.yml
Due: none

Add dependabot `package-ecosystem` uv
  .github/dependabot.yml
Due: none

Run dependabot `package-ecosystem` pip for docs
  .github/dependabot.yml
Due: none

Run dependabot `package-ecosystem` github-actions on a weekly schedule
  .github/dependabot.yml
Due: none

Dependabot for uv and docs dependencies (#1368)
  .github/dependabot.yml
Due: none

does this unbreak CI?
  .github/workflows/ci-cd.yml
Due: none

does this work?
  .github/workflows/ci-cd.yml
Due: none

is this really what's needed??
  .github/workflows/ci-cd.yml
Due: none

Fixes context propagation, adds context tests
  aiobotocore/context.py
  aiobotocore/paginate.py
  aiobotocore/waiter.py
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/__init__.py
  tests/botocore_tests/functional/test_useragent.py
  tests/test_patches.py
Due: library, tests

Fixes context propagation, adds context tests (#1369)
  aiobotocore/context.py
  aiobotocore/paginate.py
  aiobotocore/waiter.py
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/__init__.py
  tests/botocore_tests/functional/test_useragent.py
  tests/test_patches.py
Due: library, tests

Add httpx backend
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  CHANGES.rst
  Makefile
  aiobotocore/_endpoint_helpers.py
  aiobotocore/awsrequest.py
  aiobotocore/config.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  aiobotocore/response.py
  pyproject.toml
  tests/botocore_tests/unit/test_protocols.py
  tests/botocore_tests/unit/test_tokens.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_config.py
  tests/test_lambda.py
  tests/test_waiter.py
  uv.lock
Due: library, configs, changelog, docs, tests

remove StreamingBody.aclose
  aiobotocore/response.py
  tests/test_basic_s3.py
Due: library, tests

remove comment
  tests/botocore_tests/unit/test_protocols.py
Due: tests

Add support for httpx as backend (#1085)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  CHANGES.rst
  Makefile
  aiobotocore/_endpoint_helpers.py
  aiobotocore/awsrequest.py
  aiobotocore/config.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  aiobotocore/response.py
  pyproject.toml
  tests/botocore_tests/unit/test_protocols.py
  tests/botocore_tests/unit/test_tokens.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_config.py
  tests/test_lambda.py
  tests/test_waiter.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump dev dependencies
  uv.lock
Due: none

Bump development dependencies (#1370)
  .pre-commit-config.yaml
  uv.lock
Due: none

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Relax `botocore` dependency specification
  pyproject.toml
  uv.lock
Due: configs

migrate to modern docutils interface
  tests/test_version.py
Due: tests

Migrate to modern docutils interface
  pyproject.toml
  tests/test_version.py
Due: configs, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
