Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

.codecov.yml:

---
codecov:
  branch: master

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - aiobotocore/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

Bump `botocore` dependency specification (#1409)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  aiobotocore/session.py
  aiobotocore/signers.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/test_credentials.py
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies
  uv.lock
Due: none

Bump dev dependencies (#1418)
  .pre-commit-config.yaml
  uv.lock
Due: none

Add Python 3.14 to CI/CD test matrix
  .github/workflows/ci-cd.yml
Due: none

Add Python 3.14 to CI/CD test matrix (#1419)
  .github/workflows/ci-cd.yml
Due: none

Bumped up the version
  aiobotocore/__init__.py
Due: library

Added back missing title line
  CHANGES.rst
Due: changelog, docs

Switched async test runner from pytest-asyncio to AnyIO (#1399)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/botocore_tests/functional/test_useragent.py
  tests/botocore_tests/unit/test_tokens.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_client.py
  tests/test_config.py
  tests/test_dynamodb.py
  tests/test_eventstreams.py
  tests/test_waiter.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax uv setting `required-version`
  pyproject.toml
Due: configs

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/client.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification (#1420)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/args.py
  aiobotocore/client.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

fix/example-inconsistency
  docs/examples/cognito_idp/forgot_password.rst
Due: docs

cognito_idp
  docs/examples.rst
  docs/examples/cognito/basic_usage.rst
  docs/examples/cognito_idp/forgot_password.rst
  examples/cognito_idp_forgot_password.py
Due: docs

Verified commit
  docs/examples.rst
Due: docs

fixes
  docs/examples.rst
  docs/examples/cognito_idp/forgot_password.rst
Due: docs

Added Misc category
  docs/examples.rst
  docs/examples/cognito/basic_usage.rst
  examples/cognito_forgot_password.py
Due: docs

Added Misc category
  docs/examples.rst
  docs/examples/cognito_idp/forgot_password.rst
  examples/cognito_idp_forgot_password.py
Due: docs

bump major
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Set Dependabot cooldown settings to address zizmor finding
  .github/dependabot.yml
Due: none

Set Dependabot cooldown settings to address zizmor finding (#1426)
  .github/dependabot.yml
Due: none

Added Misc category (#1423)
  docs/examples.rst
  docs/examples/cognito_idp/forgot_password.rst
  examples/cognito_idp_forgot_password.py
Due: docs

ensure security / bug fixes on patch level
  pyproject.toml
Due: configs

Bump botocore dependency
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Update init version
  aiobotocore/__init__.py
Due: library

Relax version constraint, update CHANGES.rst
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Sync uv.lock
  uv.lock
Due: none

Bump botocore dependency (#1428)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Relax botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Update Config patch test sha
  tests/test_patches.py
Due: tests

Include both config patches
  tests/test_patches.py
Due: tests

Relax botocore dependency specification (#1433)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Rerun unit tests to mitigate flakiness (#1429)
  Makefile
  pyproject.toml
  uv.lock
Due: configs

Rerun flaky unit tests (#1434)
  Makefile
  pyproject.toml
  uv.lock
Due: configs

Remove `awscli` packaging extra
  .github/pull_request_template.md
  CHANGES.rst
  README.rst
  aiobotocore/__init__.py
  docs/index.rst
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Run CI with `awscrt`
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  pyproject.toml
  uv.lock
Due: configs

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/unit/conftest.py
  tests/botocore_tests/unit/login/login-provider-test-cases.json
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Explicitly notify CodeCov
  .codecov.yml
  .github/workflows/ci-cd.yml
Due: configs

Explicitly notify CodeCov (#1437)
  .codecov.yml
  .github/workflows/ci-cd.yml
Due: configs
