Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Only upgrade boto packages
  pyproject.toml
  uv.lock
Due: configs

Revert "Fix SNS test policy to work with newer botocore"
  tests/test_sns.py
Due: tests

Bump version to 2.24.0
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Update create_nested_client, to reset plugin context immediately after client creation
  aiobotocore/utils.py
Due: library

Update create_nested_client
  aiobotocore/utils.py
Due: library

Bump `botocore` dependency specification (#1389)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/credentials.py
  aiobotocore/session.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  pyproject.toml
  tests/test_patches.py
  tests/test_plugin_context.py
  uv.lock
Due: library, configs, changelog, docs, tests

fix endpoint import circular import error
  aiobotocore/_constants.py
  aiobotocore/config.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  pyproject.toml
  uv.lock
Due: library, configs

fix endpoint import circular import error
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

revert, weird syntax highlighting going on
  aiobotocore/httpxsession.py
Due: library

pre-commit
  .pre-commit-config.yaml
  aiobotocore/config.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
Due: library

revert
  uv.lock
Due: none

revert for now
  .pre-commit-config.yaml
  pyproject.toml
Due: configs

disable 3.14
  .github/workflows/ci-cd.yml
Due: none

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Fix endpoint circular import issue (#1395)
  .github/workflows/ci-cd.yml
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/_constants.py
  aiobotocore/config.py
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
Due: library, changelog, docs

Remove pre-commit CI workaround
  .pre-commit-config.yaml
Due: none

Bump required `uv` version
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Bump dev dependencies
  uv.lock
Due: none

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/credentials.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification
  aiobotocore/discovery.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/test_signers.py
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies (#1390)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Drop anyio from run-time dependencies
  pyproject.toml
  uv.lock
Due: configs

Switched async test runner from pytest-asyncio to AnyIO
  CHANGES.rst
  pyproject.toml
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/botocore_tests/functional/test_useragent.py
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/botocore_tests/unit/test_handlers.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_protocols.py
  tests/botocore_tests/unit/test_response.py
  tests/botocore_tests/unit/test_session.py
  tests/botocore_tests/unit/test_signers.py
  tests/botocore_tests/unit/test_tokens.py
  tests/botocore_tests/unit/test_utils.py
  tests/conftest.py
  tests/test_adaptive.py
  tests/test_basic_s3.py
  tests/test_batch.py
  tests/test_client.py
  tests/test_config.py
  tests/test_configprovider.py
  tests/test_dynamodb.py
  tests/test_ec2.py
  tests/test_endpoint.py
  tests/test_eventstreams.py
  tests/test_lambda.py
  tests/test_monitor.py
  tests/test_mturk.py
  tests/test_plugin_context.py
  tests/test_response.py
  tests/test_session.py
  tests/test_sns.py
  tests/test_sqs.py
  tests/test_stubber.py
  tests/test_waiter.py
  uv.lock
Due: configs, changelog, docs, tests

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/discovery.py
  aiobotocore/httpchecksum.py
  aiobotocore/regions.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/test_signers.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification
  aiobotocore/signers.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Bump `botocore` dependency specification
  aiobotocore/regions.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Changed the version number to match the changelog
  aiobotocore/__init__.py
Due: library

Fixed test failures on Python 3.9 and 3.10
  tests/botocore_tests/unit/test_tokens.py
  tests/test_response.py
Due: tests

Fixed linting error
  tests/botocore_tests/unit/test_tokens.py
Due: tests

add raising mechanism + test
  aiobotocore/httpsession.py
  tests/botocore_tests/unit/test_session.py
Due: library, tests

update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

bump version
  aiobotocore/__init__.py
Due: library

update CHANGES.rst
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
