Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Add dev environment to Claude CI workflow, normalize line endings
  .gitattributes
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
  CLAUDE.md
  LICENSE
Due: configs, docs

Add dev environment to Claude CI workflow (#1538)
  .gitattributes
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
  CLAUDE.md
  LICENSE
Due: configs, docs

Define explicit StreamingBody API, add httpx read(amt) support
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/response.py
  tests/test_response.py
Due: library, tests

Add missing StreamingBody tests, remove unnecessary markers
  tests/test_response.py
Due: tests

Fix ruff formatting in _verify_content_length
  aiobotocore/response.py
Due: library

Add aclose() method to StreamingBody and HttpxStreamingBody
  aiobotocore/response.py
Due: library

Support warm-up of loader caches
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/session.py
  pyproject.toml
  tests/test_config.py
  tests/test_session.py
  uv.lock
Due: library, configs, changelog, docs, tests

Generalize `AioSession.warm_up_loader_caches()`
  aiobotocore/session.py
  tests/test_session.py
Due: library, tests

Move concurrent load test to aiobotocore-specific tests/test_credentials.py
  tests/botocore_tests/unit/test_credentials.py
  tests/test_credentials.py
Due: tests

Optimize Claude CI workflows for efficiency
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  CLAUDE.md
Due: docs

Optimize Claude CI workflows for efficiency (#1544)
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
  CLAUDE.md
Due: docs

Fix gh auth setup-git failing without token
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Remove eyes reaction when Claude finishes processing
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Fix gh auth setup-git failing without token (#1545)
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Guard @claude comments from running /review-pr
  .github/claude-review-prompt.md
Due: none

Require full thread + unresolved-thread enumeration
  .github/claude-review-prompt.md
Due: none

Re-review on new commits pushed to a PR
  .claude/commands/review-pr.md
  .github/workflows/claude.yml
Due: none

Restrict envsubst to documented placeholders
  .github/workflows/claude.yml
Due: none

Rewrap review-pr.md prose to ~120 chars
  .claude/commands/review-pr.md
Due: none

Reflow .github prompt files to ~120 chars
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
Due: none

Make PR bodies roughly follow the repo PR template
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
Due: none

Simplify Claude workflow prompts per /simplify review
  .claude/commands/review-pr.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
Due: none

Apply doc cross-check fixes to Claude workflow
  .claude/commands/review-pr.md
  .github/workflows/claude.yml
Due: none

Adopt remaining flagged upgrades
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Investigate botocore-sync flow and address three findings
  .github/botocore-sync-prompt.md
  .github/workflows/botocore-sync.yml
Due: none

Improve Claude workflow prompts and botocore-sync flow (#1551)
  .claude/commands/review-pr.md
  .github/botocore-sync-prompt.md
  .github/claude-review-prompt.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Unblock Claude runs and ensure summary replies
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Unblock Claude runs and ensure summary replies (#1552)
  .github/claude-review-prompt.md
  .github/workflows/claude.yml
Due: none

Auto-address reviewer feedback on claude[bot] PRs
  .github/claude-review-prompt.md
Due: none

Only act on actionable comments; ignore status/meta chatter
  .github/claude-review-prompt.md
Due: none

Extract feedback analysis to /analyze-pr-feedback slash command
  .claude/commands/analyze-pr-feedback.md
  .github/claude-review-prompt.md
Due: none

Restructure feedback analysis as three-bucket synthesis
  .claude/commands/analyze-pr-feedback.md
Due: none

Add --resolve flag and post-commit validation (prior-art learnings)
  .claude/commands/analyze-pr-feedback.md
Due: none

Add /analyze-pr-feedback and auto-address reviewer feedback on claude[bot] PRs (#1553)
  .claude/commands/analyze-pr-feedback.md
  .github/claude-review-prompt.md
Due: none

Use bun-download-url to bypass GitHub API rate limit
  .github/workflows/claude.yml
Due: none

Use bun-download-url to actually bypass the GitHub API rate limit (#1554)
  .github/workflows/claude.yml
Due: none

Pass path_to_bun_executable to skip bundled setup-bun
  .github/workflows/claude.yml
Due: none

Skip bundled setup-bun via path_to_bun_executable (#1555)
  .github/workflows/claude.yml
Due: none

docs: add AI workflow documentation
  CONTRIBUTING.rst
  docs/ai-workflows.md
Due: docs

docs(ai-workflows): consolidate trust model into its own section
  docs/ai-workflows.md
Due: docs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
