Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

upload coverage to codecov based on GitHub job matrix
  .github/workflows/ci-cd.yml
Due: none

work around indeterministic behavior of moto on arm64
  pyproject.toml
  tests/test_lambda.py
  uv.lock
Due: configs, tests

bump dev dependencies
  pyproject.toml
  uv.lock
Due: configs

trim usage of the old Python 2 vs 3 helper
  aiobotocore/credentials.py
  aiobotocore/tokens.py
  tests/boto_tests/__init__.py
Due: library, tests

patch `AwsChunkedWrapper.read`
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpchecksum.py
  tests/boto_tests/unit/test_httpchecksum.py
  tests/test_patches.py
Due: library, changelog, docs, tests

relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/boto_tests/unit/test_eventstream.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

bump `botocore` dependency specification
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

adopt upstream unit tests for `httpchecksum.apply_request_checksum`, `.handle_checksum_body`, and `.StreamingChecksumBody`
  tests/boto_tests/unit/test_httpchecksum.py
Due: tests

exclude unit tests from coverage
  Makefile
Due: none

cleanup
  pyproject.toml
  requirements-dev.in
  tests/test_patches.py
  uv.lock
Due: configs, tests

cleanup
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
  tests/test_basic_s3.py
Due: tests

cleanup and simplify
  pyproject.toml
  tests/boto_tests/unit/test_signers.py
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
Due: configs, tests

squash last 2 commits to sign
  tests/boto_tests/unit/test_signers.py
  tests/conftest.py
  tests/mock_server.py
  tests/test_basic_s3.py
Due: tests

bump moto (#1297)
  pyproject.toml
  tests/boto_tests/unit/test_signers.py
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
  tests/test_basic_s3.py
  uv.lock
Due: configs, tests

disable autofix PRs by pre-commit.ci
  .pre-commit-config.yaml
Due: none

disable autofix PRs by pre-commit.ci (#1299)
  .pre-commit-config.yaml
Due: none

bump dev dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Update sphinx from 8.1.3 to 8.2.0
  docs/requirements.txt
Due: docs

bump dev dependencies (#1296)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

adopt upstream unit tests for `httpchecksum.apply_request_checksum`, `.handle_checksum_body`, and `.StreamingChecksumBody` (#1294)
  tests/boto_tests/unit/test_httpchecksum.py
Due: tests

Bump `botocore` dependency specification (#1292)
  CHANGES.rst
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/boto_tests/unit/test_eventstream.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Update sphinx from 8.1.3 to 8.2.1
  docs/requirements.txt
Due: docs

upstream header fixes
  aiobotocore/endpoint.py
  aiobotocore/httpsession.py
Due: library

ruff
  aiobotocore/endpoint.py
Due: library

add release notes
  CHANGES.rst
Due: changelog, docs

bump and remove old req
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
Due: library, configs, changelog, docs

re-lock
  uv.lock
Due: none

pass matrix context to tests so we can dynamically xfail certain ones
  .github/workflows/ci-cd.yml
  Makefile
Due: none

dynamic xfail on ubuntu-arm
  .github/workflows/ci-cd.yml
  Makefile
  tests/test_lambda.py
Due: tests

pre-commit
  tests/test_lambda.py
Due: tests

add comment
  tests/test_lambda.py
Due: tests

bump dev dependencies
  uv.lock
Due: none

Bump dev dependencies (#1302)
  uv.lock
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
