Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Add support for Python 3.12 and drop EOL 3.7 (#1034)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  CHANGES.rst
  README.rst
  aiobotocore/__init__.py
  setup.py
  tests/conftest.py
Due: library, changelog, docs, tests

Remove unneeded string concatination
  setup.py
Due: none

Remove unneeded string concatination (#1035)
  setup.py
Due: none

Fix test_load_sso_credentials_without_cache, which has been incorrect since creation and never actually run.
  tests/boto_tests/test_credentials.py
Due: tests

Fix test_load_sso_credentials_without_cache, which has been incorrect since creation and never actually run. (#1041)
  tests/boto_tests/test_credentials.py
Due: tests

update botocore to latest version; update awscli, boto3 accordingly
  setup.py
Due: none

add changes description
  CHANGES.rst
Due: changelog, docs

relax botocore dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
  tests/test_patches.py
  tests/test_version.py
Due: library, changelog, docs, tests

bump minimum docker-py
  requirements-dev.in
Due: none

update instructions for running tests
  .gitignore
  README.rst
Due: configs, docs

relax botocore dependency specification
  CHANGES.rst
  setup.py
  tests/test_patches.py
Due: changelog, docs, tests

Support up-to-date `botocore` and `urllib3 2.0` (#1037)
  CHANGES.rst
  aiobotocore/__init__.py
  requirements-dev.in
  setup.py
  tests/test_patches.py
  tests/test_version.py
Due: library, changelog, docs, tests

bump down as 2.7.0 was never released
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

bump down as 2.7.0 was never released (#1046)
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

AioStubber that returns AioAWSResponse()
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/stub.py
Due: library, changelog, docs

hash for Stubber
  tests/test_patches.py
Due: tests

formatting to fix flake8 reported issues
  aiobotocore/stub.py
Due: library

reformatted tests
  tests/test_patches.py
Due: tests

unit tests
  tests/test_stubber.py
Due: tests

100% coverage; bumped patchlevel number
  aiobotocore/stub.py
  tests/test_stubber.py
Due: library, tests

adding moto marker to stubber
  tests/test_stubber.py
Due: tests

AioStubber that returns AioAWSResponse() (#1039)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/stub.py
  tests/test_patches.py
  tests/test_stubber.py
Due: library, changelog, docs, tests

update instructions for running tests (#1045)
  .gitignore
  README.rst
Due: configs, docs

drop obsolete dev dependency `flake8-formatter-abspath`
  Makefile
  requirements-dev.in
Due: none

enable Dependabot version updates
  .github/dependabot.yml
Due: none

enable Dependabot version updates (#1052)
  .github/dependabot.yml
Due: none

drop obsolete dev dependency `flake8-formatter-abspath` (#1051)
  Makefile
  requirements-dev.in
Due: none

bump dev dependencies
  pytest.ini
  requirements-dev.in
Due: none

add pre-commit dev dependency
  requirements-dev.in
Due: none

apply latest `black` formatting rules
  aiobotocore/credentials.py
  aiobotocore/session.py
  examples/simple.py
  examples/sqs_queue_create.py
  tests/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/test_config.py
  tests/test_patches.py
  tests/test_session.py
Due: library, tests

align pre-commit hooks with upstream
  .pre-commit-config.yaml
Due: none

fix type annotation
  tests/test_version.py
Due: tests

align pytest config with upstream
  pyproject.toml
  pytest.ini
Due: configs

align flake8 config with upstream
  setup.cfg
Due: none

run flake8, black, isort through pre-commit
  .github/workflows/python-package.yml
  Makefile
  requirements-dev.in
Due: none

align dev dependencies with upstream
  requirements-dev.in
Due: none

add setuptools to dev dependencies for Python 3.12
  requirements-dev.in
Due: none

Align dev dependencies and linting with upstream (#1049)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  Makefile
  aiobotocore/credentials.py
  aiobotocore/session.py
  examples/simple.py
  examples/sqs_queue_create.py
  pyproject.toml
  pytest.ini
  requirements-dev.in
  setup.cfg
  tests/boto_tests/test_credentials.py
  tests/python3.8/boto_tests/test_signers.py
  tests/test_config.py
  tests/test_patches.py
  tests/test_session.py
  tests/test_version.py
Due: library, configs, tests

remove confusing `aiobotocore.session.Session` symbol
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/session.py
Due: library, changelog, docs

remove confusing `aiobotocore.session.Session` symbol (#1047)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/session.py
Due: library, changelog, docs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
