Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

fix: apply endpoint TLS settings on both backends, and keep the client cert off the proxy
  aiobotocore/httpsession.py
  aiobotocore/httpxsession.py
  docs/override-patterns.md
  tests/test_httpsession.py
  tests/test_proxy.py
  tests/test_tls.py
Due: library, docs, tests

test: read the bound port from the listener itself
  tests/test_proxy.py
  tests/test_tls.py
Due: tests

test: assert the IMDS user agent header value
  tests/botocore_tests/unit/test_utils.py
Due: tests

Potential fix for pull request finding
  .github/workflows/reusable-test.yml
Due: none

fix: stop the httpx backend applying environment proxies of its own
  aiobotocore/httpxsession.py
  tests/test_proxy.py
  tests/test_tls.py
Due: library, tests

test: give test_sqs a stack and queue name unique per parametrization
  tests/test_waiter.py
Due: tests

test: include the attempt number in test_sqs resource names
  tests/test_waiter.py
Due: tests

refactor: centralize optional httpx import into aiobotocore._httpx
  aiobotocore/_endpoint_helpers.py
  aiobotocore/_httpx.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpxsession.py
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_lambda.py
Due: library, tests

feat: prefer httpx2 over legacy httpx for the httpx backend
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  aiobotocore/_httpx.py
  aiobotocore/httpxsession.py
  docs/override-patterns.md
  pyproject.toml
  tests/test_httpx_compat.py
  uv.lock
Due: library, configs, docs, tests

test: give test_run_lambda a function name unique per parametrization
  tests/test_lambda.py
Due: tests

ci: run pre-commit once instead of in every test matrix job (#1666)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-test.yml
Due: none

Relax `uv` `required-version` specification
  pyproject.toml
Due: configs

Relax `uv` `required-version` specification (#1683)
  pyproject.toml
Due: configs

feat: prefer httpx2 over httpx for the optional httpx backend (#1669)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
  aiobotocore/_endpoint_helpers.py
  aiobotocore/_httpx.py
  aiobotocore/endpoint.py
  aiobotocore/httpchecksum.py
  aiobotocore/httpxsession.py
  docs/override-patterns.md
  pyproject.toml
  tests/conftest.py
  tests/test_basic_s3.py
  tests/test_httpx_compat.py
  tests/test_lambda.py
  uv.lock
Due: library, configs, docs, tests

fix: address trio support review feedback
  aiobotocore/_tee.py
  aiobotocore/args.py
  aiobotocore/config.py
  aiobotocore/credentials.py
  aiobotocore/httpxsession.py
  aiobotocore/session.py
  aiobotocore/utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_httpx_compat.py
  tests/test_session.py
  uv.lock
Due: library, configs, tests

fix: isolate proxy CONNECT target in transport
  aiobotocore/httpxsession.py
  tests/test_httpx_compat.py
Due: library, tests

fix: keep async primitives out of client config
  aiobotocore/session.py
Due: library

fix: preserve client config and proxy targets
  aiobotocore/httpxsession.py
  aiobotocore/response.py
  aiobotocore/session.py
Due: library

style: apply ruff formatting
  aiobotocore/httpxsession.py
  aiobotocore/session.py
  aiobotocore/utils.py
  tests/conftest.py
  tests/test_session.py
Due: library, tests

Fix httpx backend response tests
  tests/test_response.py
Due: tests

Cover session async primitive override
  tests/test_session.py
Due: tests

Use session config for async backend
  aiobotocore/session.py
  tests/botocore_tests/unit/test_session.py
  tests/conftest.py
  tests/test_session.py
Due: library, tests

Fix session test formatting
  tests/test_session.py
Due: tests

Fix backend-aware session tests
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_session.py
  tests/test_httpsession.py
Due: tests

Fix login provider backend setup
  tests/botocore_tests/unit/test_credentials.py
Due: tests

Address follow-up trio review
  aiobotocore/_async_primitives.py
  aiobotocore/httpxsession.py
  aiobotocore/retries/adaptive.py
  aiobotocore/utils.py
  docs/override-patterns.md
  tests/conftest.py
  tests/test_proxy.py
  tests/test_tls.py
  tests/tls_helpers.py
Due: library, docs, tests

Address AnyIO review feedback
  aiobotocore/_async_primitives.py
  aiobotocore/config.py
  aiobotocore/retries/adaptive.py
  aiobotocore/retries/standard.py
  aiobotocore/tokens.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/retries/test_standard_retry_v2_1.py
  tests/botocore_tests/unit/test_tokens.py
  tests/test_config.py
  uv.lock
Due: library, configs, tests

Apply Ruff formatting
  aiobotocore/httpxsession.py
  aiobotocore/retries/adaptive.py
  tests/botocore_tests/unit/test_tokens.py
  tests/conftest.py
  tests/test_proxy.py
  tests/test_tls.py
Due: library, tests

Fix remaining Trio review issues
  aiobotocore/client.py
  aiobotocore/credentials.py
  aiobotocore/httpxsession.py
  aiobotocore/utils.py
  tests/botocore_tests/unit/test_credentials.py
  tests/test_credentials.py
  tests/test_proxy.py
  tests/test_utils.py
Due: library, tests

Apply Ruff formatting
  aiobotocore/httpxsession.py
  tests/test_proxy.py
Due: library, tests

Skip AnyIO provider test without HTTPX
  tests/botocore_tests/unit/test_credentials.py
Due: tests

Cover S3 Express cache eviction
  tests/test_utils.py
Due: tests

Handle disabled proxy TLS verification
  aiobotocore/httpxsession.py
  tests/test_proxy.py
Due: library, tests

Apply ruff formatting
  aiobotocore/httpxsession.py
Due: library

Address latest backend review findings
  aiobotocore/httpxsession.py
  aiobotocore/session.py
  aiobotocore/utils.py
  tests/conftest.py
  tests/test_proxy.py
  tests/test_utils.py
Due: library, tests

Apply ruff formatting to session creation
  aiobotocore/httpxsession.py
Due: library

Fix config merging and proxy host headers
  aiobotocore/config.py
  aiobotocore/httpxsession.py
  tests/test_config.py
  tests/test_proxy.py
Due: library, tests

Close HTTPX exit stack when entry fails
  aiobotocore/httpxsession.py
  tests/test_proxy.py
Due: library, tests

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
