Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

fix #1020
  aiobotocore/credentials.py
Due: library

bump
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

update link per issue #1012
  aiobotocore/config.py
  aiobotocore/httpsession.py
Due: library

sigh
  aiobotocore/credentials.py
Due: library

fix issue #1020 (#1022)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/credentials.py
  aiobotocore/httpsession.py
Due: library, changelog, docs

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Update __init__.py
  aiobotocore/__init__.py
Due: library

Update test_version.py
  tests/test_version.py
Due: tests

Add more support for Python 3.11 (#977)
  .github/workflows/pre-commit.yml
  .github/workflows/python-package.yml
  CHANGES.rst
  CONTRIBUTING.rst
  README.rst
  aiobotocore/__init__.py
  tests/test_version.py
Due: library, changelog, docs, tests

bump botocore to 1.31.17
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/session.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

bump botocore to 1.31.17 (#1029)
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/client.py
  aiobotocore/session.py
  setup.py
  tests/test_patches.py
Due: library, changelog, docs, tests

add waiter return and fix SSO token refresh bug
  CHANGES.rst
  aiobotocore/tokens.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
Due: library, changelog, docs

fix tests
  .gitignore
  CHANGES.rst
  pytest.ini
  tests/python3.8/boto_tests/test_tokens.py
  tests/test_config.py
Due: configs, changelog, docs, tests

fix SSO token refresh bug (#1030)
  .gitignore
  CHANGES.rst
  aiobotocore/tokens.py
  aiobotocore/utils.py
  aiobotocore/waiter.py
  pytest.ini
  tests/python3.8/boto_tests/test_tokens.py
  tests/test_config.py
Due: library, configs, changelog, docs, tests

revert change to fix #1031
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
Due: library, changelog, docs

typo
  CHANGES.rst
Due: changelog, docs

better description
  CHANGES.rst
Due: changelog, docs

whoops
  CHANGES.rst
Due: changelog, docs

fix #1031 (#1032)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
Due: library, changelog, docs

add multi-aiohttp tests and cleanup build
  .github/workflows/python-package.yml
  Pipfile
Due: none

bump minimum aiohttp version
  CHANGES.rst
  aiobotocore/__init__.py
  setup.py
Due: library, changelog, docs

try to fix error
  .github/workflows/python-package.yml
Due: none

swap to pip-compile
  .github/workflows/python-package.yml
  .pyup.yml
  CONTRIBUTING.rst
  Makefile
  Pipfile
  README.rst
  requirements-dev.in
  tests/test_version.py
Due: configs, docs, tests

fix
  .github/workflows/python-package.yml
  CONTRIBUTING.rst
  README.rst
Due: docs

fix
  .github/workflows/python-package.yml
Due: none

drop 3.7
  .github/workflows/python-package.yml
  CHANGES.rst
  setup.py
Due: changelog, docs

patch check not needed anymore
  .github/workflows/python-package.yml
  aiobotocore/response.py
  requirements-dev.in
  tests/test_patches.py
Due: library, tests

typo
  .github/workflows/python-package.yml
Due: none

update docs
  CHANGES.rst
Due: changelog, docs

bump minimum aiohttp req and add aiohttp tests (#1033)
  .github/workflows/python-package.yml
  .pyup.yml
  CHANGES.rst
  CONTRIBUTING.rst
  Makefile
  Pipfile
  README.rst
  aiobotocore/__init__.py
  aiobotocore/response.py
  requirements-dev.in
  setup.py
  tests/test_patches.py
  tests/test_version.py
Due: library, configs, changelog, docs, tests

Drop support for EOL Python 3.7
  .pre-commit-config.yaml
  README.rst
  setup.py
  tests/conftest.py
Due: docs, tests

Add support for Python 3.12
  .github/workflows/python-package.yml
  CHANGES.rst
  setup.py
Due: changelog, docs

Add to changelog
  CHANGES.rst
Due: changelog, docs

Update version and add an arbitrary date
  CHANGES.rst
  aiobotocore/__init__.py
Due: library, changelog, docs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
