Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Support warm-up of loader caches
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/config.py
  aiobotocore/session.py
  pyproject.toml
  tests/test_config.py
  tests/test_session.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump dev dependencies
  pyproject.toml
  uv.lock
Due: configs

Bump development dependencies (#1471)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Relax `botocore` dependency specification (#1472)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Bump pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: configs

Bump dev dependencies
  uv.lock
Due: none

Update development dependencies (#1473)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Relax `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification (#1474)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Remove `stale` GitHub workflow
  .github/workflows/stale.yml
Due: none

Remove `stale` GitHub workflow (#1478)
  .github/workflows/stale.yml
Due: none

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification (#1480)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/httpchecksum.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification (#1485)
  CHANGES.rst
  aiobotocore/__init__.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Remove Codecov token from CI jobs
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Due: none

Remove Codecov token from CI jobs (#1489)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Due: none

Update any references to default branch
  .codecov.yml
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
  README.rst
  docs/examples.rst
  docs/index.rst
Due: configs, docs

Update any references to default branch (#1491)
  .codecov.yml
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
  README.rst
  docs/examples.rst
  docs/index.rst
Due: configs, docs

Bump development dependencies (#1493)
  .pre-commit-config.yaml
  uv.lock
Due: none

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/test_utils.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Base `mocking_test` pytest fixture onto `localonly` marker
  tests/conftest.py
  tests/test_basic_s3.py
Due: tests

Fix `test_unicode_key_put_list()`
  tests/test_basic_s3.py
Due: tests

Fix mocking in `test_presign_sigv4()`
  tests/test_basic_s3.py
Due: tests

Remove unnecessary `localonly` markers
  tests/test_basic_s3.py
Due: tests

Apply coverage pragma to remaining unit tests marked `localonly`
  tests/test_basic_s3.py
  tests/test_eventstreams.py
  tests/test_mturk.py
Due: tests

Bump `botocore` dependency specification (#1492)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/utils.py
  pyproject.toml
  tests/botocore_tests/unit/test_utils.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Use dedicated environment for secrets
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Fix CI failures: add id-token permission, yamllint compliance, CLAUDE.md
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
  CLAUDE.md
Due: docs

Add Claude Code and Botocore Sync GitHub Actions workflows
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Add persist-credentials: false to checkout steps
  .github/workflows/botocore-sync.yml
  .github/workflows/claude.yml
Due: none

Rework botocore sync: diff-first flow, better relax/bump criteria
  .github/workflows/botocore-sync.yml
Due: none

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
