Repository aio-libs/aiobotocore: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests

Migrate to modern docutils interface
  uv.lock
Due: none

Relax `botocore` dependency specification (#1371)
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Migrate to modern docutils interface (#1372)
  pyproject.toml
  tests/test_version.py
  uv.lock
Due: configs, tests

Bump `botocore` dependency specification
  aiobotocore/client.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

cognito_idp
  docs/examples.rst
  docs/examples/cognito/basic_usage.rst
  docs/examples/cognito_idp/forgot_password.rst
  examples/cognito_idp_forgot_password.py
Due: docs

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  pyproject.toml
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification
  aiobotocore/endpoint.py
  aiobotocore/response.py
  pyproject.toml
  tests/botocore_tests/unit/__init__.py
  tests/botocore_tests/unit/test_response.py
  tests/test_patches.py
  uv.lock
Due: library, configs, tests

Bump `botocore` dependency specification (#1374)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/response.py
  pyproject.toml
  tests/botocore_tests/unit/__init__.py
  tests/botocore_tests/unit/test_response.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Relax `botocore` dependency specification
  CHANGES.rst
  pyproject.toml
  uv.lock
Due: configs, changelog, docs

Bump `botocore` dependency specification
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/paginate.py
  aiobotocore/retries/bucket.py
  aiobotocore/session.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_session.py
  tests/conftest.py
  tests/test_patches.py
  tests/test_version.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump dev dependencies
  .pre-commit-config.yaml
  uv.lock
Due: none

Bump dev dependencies (#1384)
  .pre-commit-config.yaml
  uv.lock
Due: none

Bump `botocore` dependency specification (#1376)
  .pre-commit-config.yaml
  CHANGES.rst
  aiobotocore/paginate.py
  aiobotocore/retries/bucket.py
  aiobotocore/session.py
  aiobotocore/waiter.py
  pyproject.toml
  tests/botocore_tests/unit/test_credentials.py
  tests/botocore_tests/unit/test_httpchecksum.py
  tests/botocore_tests/unit/test_session.py
  tests/conftest.py
  tests/test_patches.py
  tests/test_version.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/conftest.py
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Bump `botocore` dependency specification (#1387)
  CHANGES.rst
  aiobotocore/__init__.py
  aiobotocore/client.py
  aiobotocore/endpoint.py
  aiobotocore/session.py
  aiobotocore/signers.py
  aiobotocore/tokens.py
  pyproject.toml
  tests/botocore_tests/__init__.py
  tests/botocore_tests/functional/conftest.py
  tests/botocore_tests/functional/test_bearer_auth.py
  tests/test_patches.py
  uv.lock
Due: library, configs, changelog, docs, tests

Remove pre-commit CI workaround
  .pre-commit-config.yaml
Due: none

Bump required `uv` version
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: configs

Bump dev dependencies
  uv.lock
Due: none

Bump `botocore` dependency specification
  CHANGES.rst
  aiobotocore/session.py
  pyproject.toml
  uv.lock
Due: library, configs, changelog, docs

Override create_nested_client, _get_client_creator
  aiobotocore/credentials.py
  aiobotocore/utils.py
  tests/test_plugin_context.py
Due: library, tests

Update lowerbound
  pyproject.toml
  uv.lock
Due: configs

Update test_patches.py
  tests/test_patches.py
Due: tests

Patch SSOTokenProvider._client
  aiobotocore/tokens.py
Due: library

Rework create_nested_client as async function
  aiobotocore/utils.py
  tests/test_plugin_context.py
Due: library, tests

Update version in __init__.py
  aiobotocore/__init__.py
Due: library

Add py3.14 classifier
  pyproject.toml
Due: configs

Mark tokens _client as CachedProperty; fix patch sha
  aiobotocore/tokens.py
  tests/test_patches.py
Due: library, tests

Remove SSOTokenProvider._client patch test due to flaky hashes
  tests/test_patches.py
Due: tests

Update to use Aiobotocore, ignore cov miss
  aiobotocore/tokens.py
  tests/test_plugin_context.py
Due: library, tests

Update SsoTokenProvider._client to @property
  aiobotocore/tokens.py
Due: library

Update boto upperbounds, run uv lock --upgrade
  pyproject.toml
  uv.lock
Due: configs

Fix coverage comment
  tests/test_plugin_context.py
Due: tests

Fix SNS test policy to work with newer botocore
  tests/test_sns.py
Due: tests

Revert "Update boto upperbounds, run uv lock --upgrade"
  pyproject.toml
  uv.lock
Due: configs

Path conditions:
  library: any of: aiobotocore/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
